///
/// Phantom by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Main */
a:hover{
	color: inherit !important;
}
	#main {
		// @include padding(5em, 0, (-5em, 0, 3em, 0));

		// @include breakpoint('<=small') {
		// 	@include padding(3em, 0, (-3em, 0, 3em, 0));
		// }
	}

	.fixedWp{
		position: fixed;
	    bottom: 30px;
	    right: 40px;
	    border-radius: 50% !important;
	    background: #10d610 !important;
	    border: none !important;
	    color: white !important;
	    font-size: 19px;
	}

/* HOME */
	#myCarousel{
		width: 100%;
		.carousel-inner{
			.item{
				height: 500px;
				&:nth-child(1){
					background: #7CE7CA;
				}
				&:nth-child(2){
					background: #EEE75C;
				}
				&:nth-child(3){
					background: #FF9087;
				}
				.carousel-caption{
					cursor:pointer;
					width: 100%;
					left: 0;
					top:40%;
					h3{
						width: 100%;
					    border-top: 1px solid white;
					    border-bottom: 1px solid white;
					    padding: 0;
					    margin: 0;
					    font-size: 8em;
					    line-height: 90px;
					    text-shadow: none;
					    padding-bottom: 9px;
    					letter-spacing: 16px;	
    					@include breakpoint('<=small') {
    						font-size: 3em;
						    line-height: 30px;
						    padding-bottom: 5px;
    					}
					}
					a{
						text-shadow: none;
					    color: white;
					    border: none;
					    text-decoration: underline;
					    cursor:pointer;
					}
				}
				// position: relative;
			}
		}
	}

/* SERVICIOS */
#main{

	.title{
		width: 	100%;
		background: #7CE7CA;
		text-align: center;
		margin-bottom: 	40px;
		h1{
			width: 100%;
		    padding: 30px 0;
		    margin: 0;
		    font-size: 3em;
		    line-height: 90px;
		    letter-spacing: 16px;
		    text-transform: uppercase;
		    color:white;
			@include breakpoint('<=small') {
				line-height: normal;
				font-size:2em;
			}
		}
	}

}
.servicios{
	@include breakpoint('<=small') {
		padding: 0 15px;
	}
	.title2{
		.left{
		    text-transform: none;
		    letter-spacing: 0;
		    padding: 0;
		    padding-bottom: 	15px;
		    line-height: normal;
		    font-size: 38px;
		    font-weight: 500;
			@include breakpoint('<=small') {
		    	font-size: 30px;
		   		margin-bottom: 	30px;
			}
			&:before{
			    content: "";
			    position: absolute;
			    bottom: -15px;
			    border-bottom: 3px solid #7CE7CA;
			    width: 50px;
			}
			i{
				position: absolute;
			    z-index: -99909;
			    color: #e3e3e352;
			    right: 40px;
			    top: -6px;
			    font-size: 5em;
			}
		}
		.right{
			padding: 30px 20px;
			font-size:.8em;
			@include breakpoint('<=small') {
				padding: 0;
		    	font-size: 1em;
			}
		}
	}
	.services{
		.item{
			margin-bottom: 	40px;
			@include breakpoint('<=small') {
				padding: 15px;
			    margin: 0;
			    box-shadow: 0 0 7px 0px #80808033;
			    margin-bottom: 35px;
			}
			i{
				color: #7ce7ca;
   				font-size: 1.5em;
			}
			h4{
			    padding: 10px 0;
			    margin:0;
			}
			p{
				@include breakpoint('<=small') {
					margin:0;

				}
			}

		}
	}
	#clientCarousel{
		width: 70% ;
	    padding: 0 !important;
	    margin: 0 auto 50px;
		@include breakpoint('<=small') {
			width: 	100%;
		}
		.carousel-control{
			background: none;
			.glyphicon-chevron-left{
				color:black;
				left: -15px;
			}
			.glyphicon-chevron-right{
				color:black;
				right: -20px;
			}
		}
		a{
			border:none;
		}
		.item{
			padding: 0 20px;
		}
		.logo{
			img{
				border-radius:50%;
				border:1px solid gray;
			}
		}
	}
}


/* CONTACTO */

.contacto{
	.title{
		background: #EEE75C !important;
	}
	.title2{
	    padding: 0 20px;
		.left{
		    text-transform: none;
		    letter-spacing: 0;
		    padding: 0;
		    line-height: normal;
		    font-size: 45px;
		    font-weight: 600;
		    margin-bottom: 40px;
			&:before{
			    content: "";
			    position: absolute;
			    bottom: -15px;
			    border-bottom: 3px solid #EEE75C;
			    width: 50px;
			}
			i{
				position: absolute;
			    z-index: -99909; 
			    color: #e3e3e352;
			    right: 40px;
			    top: -6px;
			    font-size: 5em;
			}
		}
		p{
			padding: 0;
			font-size: 25px;
			margin:0;
		}
	}
	.contactSbm{
		input{
			background: #EEE75C;
			color:white;
		}
	}

}


/* BLOG */

.blog{
	@include breakpoint('<=small') {
		padding: 0 15px;
	}
	.title{
		background: #FF9087 !important;
	}
	.news{
		.item{
			margin-bottom: 	40px;
			@include breakpoint('<=small') {
				padding: 15px;
			    margin: 0;
			    box-shadow: 0 0 7px 0px #80808033;
			    margin-bottom: 35px;
			}
			a{
				border:none;
				&:hover{
					text-decoration: none;
					span{
						text-decoration: underline;
					}
				}
				b{
				    font-weight: lighter;
				    font-size: 13px;
				    padding: 0;
				}
				img{
					width: 100%;
				    object-fit: cover;
				    height: 200px;
				}
				h4{
					text-transform: none;
				    letter-spacing: 1px;
				    font-size: 24px;
				    padding: 0;
				    padding-bottom: 10px;
				    margin:0;
				    line-height: normal;
				}
				p{
					line-height: normal;
					margin-bottom: 0;
					@include breakpoint('<=small') {
						margin:0;

					}
				}
				span{
					padding-top: 15px;
				    display: block;
				    font-size: 14px;
				    font-weight: bold;
				    color: gray;
					i{
						font-size: 10px;
					}
				}
			}

		}
	}
}


/* NOTICIA */
.noticia{
	@include breakpoint('<=small') {
		overflow: hidden !important;
	}
	.title{
		background: #FF9087 !important;
		margin-bottom: 15px !important;
		h2{
			width: 100%;
		    padding: 30px 0;
		    margin: 0;
		    font-size: 3em;
		    line-height: 90px;
		    letter-spacing: 16px;
		    text-transform: uppercase;
		    color:white;
			@include breakpoint('<=small') {
				line-height: normal;
				font-size:2em;
			}
		}
	}
	.back{
		color: #ff9087;
		font-size: 14px;
    	border-color: #ff9087;
    	&:hover{
			color: #ff9087;
    		text-decoration: none;
    		border-bottom: 1px dotted black;
    	}
	}
	.news{
		.titleNew{
			font-size: 3em;
		    letter-spacing: 1px;
		    margin-bottom: 20px !important;
		    position: relative;
		    margin-top: 15px;
		    &:before{
			    content: "";
			    position: absolute;
			    bottom: -15px;
			    border-bottom: 3px solid #FF9087;
			    width: 50px;
			}

		}
		.bajada{
			margin-bottom: 0px;
			display: block;
		}
		img{
			width: 100%;
			margin:5px 0;
			object-fit: cover;
			@include breakpoint('<=small') {
			    padding-right: 15px;
			    height: 200px;
			}
		}
		.fecha{
		    text-transform: uppercase;
		    font-weight: bold;
		    font-size: 14px;
		    display: block;
		    color: #808080a3;
		}
		.cuerpo{
			padding-right: 20px;
		}
		.relac{
			position: relative;
			padding: 0 10px;
			h5{
				text-transform: none;
			    letter-spacing: normal;
			    color: #8080809c;
			    text-align: right;
			    font-size: 1.6em;
			    margin-bottom: 20px;
			    position: relative;
				&:before{
				    content: "";
				    position: absolute;
				    bottom: -8px;
				    border-bottom: 3px solid #5f5f5f;
				    width: 50px;
				    right: 0;
				}
			}
			a{
				margin-bottom: 15px;
    			display: block;
    			line-height: normal;
			}
			.sticky-top{
				position: -webkit-sticky;
				margin-top: 5px;
				position: sticky;
				top: 0;  
				left: 0;
				width: 80%;  
				background: rgba(128, 128, 128, 0.03137254901960784);
    			padding: 15px;
    			@include breakpoint('<=small') {
					width: 100%;  
				}
			}
		}
	}
}