<div id="posventa">
	<div class="sec indumentaria">
		<div class="container">
			<div class="col-sm-6">
				<div class="row">
					<div class="bike-apparels">
						<div class="parts1 row">
							{% if accesorios|length > 0 %}		
							{% for a in accesorios|slice(0,3) %}
							<div class="part-sec col-sm-4 col-xs-4">
								{% set slugP = a.nombre|lower|replace({' ':'-','(':'',')':''}) %}
								<a href="{{path('app_producto',{'producto':slugP ,'id':a.id}) }}" class="">
									{% if is_mobile() %}
									<img class="lazy" src="{% path a.imgprincipal, 'medium' %}" alt=""/>
									{% else %}
									<img class="lazy" src="{% path a.imgprincipal, 'big' %}" alt=""/>
									{% endif %}
									<div class="part-info">
										<h5>{{a.nombre}}
										</h5>
										<div class="price">
											{% if a.oferta > 0 %}
												{% for n in a.categoria if n.activarPrecio == true %}
												<span class="ant">${{a.precio|number_format(0, ',', '.')  }}</span>
												<span class="ofer">${{a.oferta|number_format(0, ',', '.')}}</span>
												{% endfor %}
											{% else %}
												{% for n in a.categoria if n.activarPrecio == true %}
												<span>${{a.precio|number_format(0, ',', '.')  }}</span>
												{% endfor %}
											{% endif %}
										</div>
										<span class="benef">
									 		{#% for b in a.beneficios %}
											<span class="tooltip">
										 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
												<span class="d-none tooltiptext">{{b.nombre}}</span>
											</span>
									 		{% endfor %#}
										</span>
									</div>
								</a>
							</div>
						{% endfor %}
						{% else %}
							No hay productos para esta categoria
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 indu">
				<h2>Indumentaria y accesorios</h2>
				<p>Tenemos todos los accesorios para que estés protegido cuando usas tu monopatín .  <br>
				Somos distribuidores oficiales <b>Alpinestars</b>.</p>
				<a href="{{path('app_categorias',{'categoria':'accesorios'})}}" class="cta">Ver más</a>
			</div>

		</div>
	</div>
</div>