{% if noticias|length > 0 %}
<div class="bikes blog">
	<h3>SOMOS <b>DEMENTES DE LOS MONOPATINES</b></h3>
	<div class="container">
		{% for n in noticias|slice(0,3) %}
		<div class="col-sm-3">
			{% set slugNot = n.titulo|lower|replace({' ':'-','?':'','¿':'','á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u' })%}
			<a class="nota" href="{{path('app_blog_noticia',{'titulo':slugNot,'id':n.id})}}">
				{% if n.imagenprincipal.providerName == "sonata.media.provider.youtube" %}
				{% media g.media, 'reference'%}
				{% else %}
				<img class="lazy" src="{% path n.imgprincipal, 'big' %}" alt="">
				{% endif %}

				<div class="title">{{n.titulo}}</div>
				<p>{{n.bajada}}</p>
			</a>
		</div>
		{% endfor %}
	</div>
	<a class="irt" href="{{path('app_blog')}}">Ir al blog</a>
</div>
{% endif %}