<!--bikes carousel-->
{% if destacados|length > 0%}
<div class="bikes">	
	<h3 class="dest">DESTACADOS</h3>
	<div class="bikes-grids">			 
		<ul id="flexiselDemo2">
			{% for d in destacados %}
		 	<li>
		 		{% set slugP = d.nombre|lower|replace({' ':'-','(':'',')':''}) %}
		 		<a href="{{path('app_producto',{'producto':slugP ,'id':d.id}) }}">
		 			{% if is_mobile() %}
					<img class="lazy" src="{% path d.imgprincipal, 'medium' %}" alt=""/>
					{% else %}
					<img class="lazy" src="{% path d.imgprincipal, 'big' %}" alt=""/>
					{% endif %}
				 	<div class="bike-info">
						<div class="model col-sm-6">
							<h4>{{d.nombre}}</h4>
							<div class="price">
								{% if d.oferta > 0 %}
									{% for n in d.categoria if n.activarPrecio == true %}
									<span class="ofer">${{d.oferta|number_format(0, ',', '.')}}</span>
									{% endfor %}
								{% else %}
									{% for n in d.categoria if n.activarPrecio == true %}
									<span>${{d.precio|number_format(0, ',', '.')  }}</span>
									{% endfor %}
								{% endif %}							 
							</div>							 
					 	</div>
					 	<div class="model-info col-sm-6">
					 		{% for b in d.beneficios %}
						 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
					 		{% endfor %}
					 	</div>						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="{{path('app_producto',{'producto':slugP ,'id':d.id}) }}">Ver ficha</a>
				 	</div>
				</a>
		 	</li>
		 	{% endfor %}
		</ul>
		<script type="text/javascript">
		$(window).load(function() {			
			$("#flexiselDemo2").flexisel({
				visibleItems: 6,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
		});
		</script>
		<script type="text/javascript" src="{{asset('bundles/front/js/jquery.flexisel.js')}}"></script>
	</div>
</div>
{% endif %}