<div class="ficha">
	{% if p.motor != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Motor</p>
		</div>
		<div class="col-xs-6 data">
			{{p.motor}}
		</div>
	</div>
	{% endif %}

	{% if p.valocidadMax != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Velocidad máxima</p>
		</div>
		<div class="col-xs-6 data">
			{{p.valocidadMax}}
		</div>
	</div>
	{% endif %}

	{% if p.autonomia != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Autonomía</p>
		</div>
		<div class="col-xs-6 data">
			{{p.autonomia}}
		</div>
	</div>
	{% endif %}

	{% if p.bateria != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Batería</p>
		</div>
		<div class="col-xs-6 data">
			{{p.bateria}}
		</div>
	</div>
	{% endif %}

	{% if p.tiempoCarga != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Tiempo de carga</p>
		</div>
		<div class="col-xs-6 data">
			{{p.tiempoCarga}}
		</div>
	</div>
	{% endif %}

	{% if p.frenos != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Frenos</p>
		</div>
		<div class="col-xs-6 data">
			{{p.frenos}}
		</div>
	</div>
	{% endif %}

	{% if p.equipamiento != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Equipamiento</p>
		</div>
		<div class="col-xs-6 data">
			{{p.equipamiento}}
		</div>
	</div>
	{% endif %}

	{% if p.peso != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Peso</p>
		</div>
		<div class="col-xs-6 data">
			{{p.peso}}
		</div>
	</div>
	{% endif %}
	
	{% if p.pesoMax != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Peso Máximo</p>
		</div>
		<div class="col-xs-6 data">
			{{p.pesoMax}}
		</div>	
	</div>
	{% endif %}
	
	{% if p.cubiertas != null %}
	<div class="rowList">
		<div class="col-xs-6 titles">
			<p>Cubiertas</p>
		</div>
		<div class="col-xs-6 data">
			{{p.cubiertas}}
		</div>
	</div>
	{% endif %}
</div>