{% if hotsale|length > 0 %}
<div class="bikes mostsale">	
	<h3>HOT SALE</h3>
	<div class="bikes-grids">			 
		<ul id="flexiselDemo1">
		 	{% for h in hotsale  %}
		 	<li>
			 	{% set slugP = h.nombre|lower|replace({' ':'-','(':'',')':''}) %}
				<a href="{{path('app_producto',{'producto':slugP ,'id':h.id}) }}">
					{% if is_mobile() %}
					<img class="lazy" src="{% path h.imgprincipal, 'reference' %}" alt=""/>
					{% else %}
					<img class="lazy" src="{% path h.imgprincipal, 'big' %}" alt=""/>
					{% endif %}
				 	<div class="bike-info">
						<div class="model col-sm-6">
							<h4>{{h.nombre}}</h4>
							<div class="price">
								{% if h.oferta > 0 %}
									{% for n in h.categoria|slice(0,1) if n.activarPrecio == true %}
									<span class="ofer">${{h.oferta|number_format(0, ',', '.')}}</span>
									{% endfor %}
								{% else %}
									{% for n in h.categoria|slice(0,1) if n.activarPrecio == true %}
									{% if 	h.precio > 0 %}
									<span>${{h.precio|number_format(0, ',', '.')  }}</span>
									{% endif %}							 
									{% endfor %}
								{% endif %}							 
							</div>
					 	</div>
					 	<div class="model-info col-sm-6">
					 		{% for b in h.beneficios %}
						 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
					 		{% endfor %}
					 	</div>						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="{{path('app_producto',{'producto':slugP ,'id':h.id}) }}">Ver ficha</a>
				 	</div>
				 </a>
		 	</li>
		 	{% endfor %}
		</ul>
		<script type="text/javascript">
		$(window).load(function() {			
			$("#flexiselDemo1").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				canNavigate : false,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1,
						itemsToScroll: 1
						
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
		});
		</script>
		<script type="text/javascript" src="{{asset('bundles/front/js/jquery.flexisel.js')}}"></script>	 
	</div>
</div>
{% endif %}