<!--bikes carousel-->
{% if related|length > 0 %}
<div class="bikes">	
	<div class="clearfix"></div>
	<div class="bikes-grids">			 
		<ul id="flexiselDemo2">
			{% for d in related %}
		 	<li>
		 		{% set slugP = d.nombre|lower|replace({' ':'-','(':'',')':''}) %}
		 		<a href="{{path('app_producto',{'producto':slugP ,'id':d.id}) }}">
		 			{% if is_mobile() %}
					<img class="lazy" src="{% path d.imgprincipal, 'medium' %}" alt=""/>
					{% else %}
					<img class="lazy" src="{% path d.imgprincipal, 'big' %}" alt=""/>
					{% endif %}
				 	<div class="bike-info">
						<div class="model col-sm-6">
							<h4>{{d.nombre}}</h4>
							<div class="price">
								{% if d.oferta > 0 %}
									{% for n in d.categoria|slice(0,1) if n.activarPrecio == true %}
									<span class="ofer">${{d.oferta|number_format(0, ',', '.')}}</span>
									{% endfor %}
								{% else %}
									{% for n in d.categoria|slice(0,1) if n.activarPrecio == true %}
									{% if d.precio > 0 %}
									<span>${{d.precio|number_format(0, ',', '.')  }}</span>
									{% endif %}		
									{% endfor %}
								{% endif %}							 
							</div>							 
					 	</div>
					 	<div class="model-info col-sm-6">
					 		{% for b in d.beneficios %}
						 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
					 		{% endfor %}
					 	</div>						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="{{path('app_producto',{'producto':slugP ,'id':d.id}) }}">Ver ficha</a>
				 	</div>
				</a>
		 	</li>
		 	{% endfor %}
		</ul>
		<script type="text/javascript">
		$(window).load(function() {			
			$("#flexiselDemo2").flexisel({
				{% if app.request.attributes.get('_route') == 'app_blog_noticia' %}
				visibleItems: 3,
				{% else %}
				visibleItems: 5,
				{% endif %}
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 2
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
		});
		</script>
		<script type="text/javascript" src="{{asset('bundles/front/js/jquery.flexisel.js')}}"></script>
	</div>
</div>
{% endif %}