<div id="posventa">
	{% if is_mobile() %}
	<div class="sec serTec" style="background-image:url({{asset('bundles/front/images/servtec-mobile.jpg')}})">
	{% else %}
	<div class="sec serTec" style="background-image:url({{asset('bundles/front/images/servtec.jpg')}})">
	{% endif %}
		<div class="container">
			<div class="col-sm-6">
					<h2>Servicio técnico</h2>
					<p>Estamos especializados en la venta y reparación de vehículos eléctricos. Conocemos al detalle las características de cada modelo.
					Te asesoramos sobre cuál es el monopatin ideal para tu peso y el terreno sobre el que te vas a desplazar con más frecuencia.</p>
					{% if app.request.attributes.get('_route') == 'app_homepage'%}
					<a href="{{path('app_posventa')}}" class="contact">Más info</a>
					{% else %}
					<a href="{{path('app_contacto')}}" class="contact">Contactanos</a>
					{% endif %}
			</div>
			<div class="col-sm-6 icons">
				<p class="col-sm-12 col-xs-4"><img src="{{asset('bundles/front/images/icons/reparacion.svg')}}" alt=""> <span>Reparación</span></p>
				<p class="col-sm-12 col-xs-4"><img src="{{asset('bundles/front/images/icons/mantenimiento.svg')}}" alt=""> <span>Mantenimiento</span></p>
				<p class="col-sm-12 col-xs-4"><img src="{{asset('bundles/front/images/icons/calibracion.svg')}}" alt=""> <span>Calibración</span></p>
			</div>
		</div>
	</div>
</div>

