<div class="contact">
    {% if is_mobile() %}
    <img class="lazy" data-original="{{asset('bundles/front/images/contact2.jpg')}}"></img>
    {% else %}
    <img class="lazy" data-original="{{asset('bundles/front/images/contact2.jpg')}}"></img>
    {% endif %}
    <div class="container">
        <div class="col-sm-6 leftCont">
            <h3>CONTACTANOS</h3>
            <a href="{{path('app_contacto')}}">alsinamotos@gmail.com</a>
            <p>Contacto: +54 (011) 39996569</p>
            <p>‎Servicio técnico: +54 1140047867</p>
            <a href="https://www.instagram.com/ecoalsinamotos/" target="_blank">
               <span class="fab fa-instagram"></span>/ecoalsinamotos
            </a>
            <a href="https://www.facebook.com/EcoAlsinaMotos/" target="_blank">
                <span class="fab fa-facebook"></span>/ecoalsinamotos
            </a>
            <a href="">
                <span class="fab fa-youtube"></span>/ecoalsinamotos
            </a>
        </div>
        <div class="col-sm-6 rightCont">
            <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13130.182143944878!2d-58.42875065!3d-34.64092325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78eee663500e70af!2sEco%20Alsina!5e0!3m2!1ses-419!2sar!4v1584301346388!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
        </div>
    </div>
</div>
<!--footerbar-->
<div class="footer">
     <div class="container">
        <p>            
            Eco Alsina - Todos los derechos reservados &copy 2020 - Av. José María Moreno 1293, C1424 AAM, Buenos Aires.
        </p>
        <div class="clearfix"></div>
     </div>
</div>
<!-- <a target="_blank" href="https://web.whatsapp.com/send?phone=+5491130579744&amp;text=Hola Eco Alsina, quiero ponerme en contacto con ustedes!"< class="fab fa-whatsapp fixedWp"></a> -->