<div class="header containerabs">
    <div class="logo">
        <a href="{{path('app_homepage')}}">
            <img class="lazy" data-original="{{asset('bundles/front/images/logo.png')}}" src="{{asset('bundles/front/images/logo.png')}}" alt="Eco Alsina"/>
        </a>
        {% if is_mobile() and app.request.attributes.get('_route') == "app_homepage"  %}
        <div class="redes" style="top:52%;">
        {% else %}
        <div class="redes">
        {% endif %}
            <a href="https://www.instagram.com/ecoalsinamotos/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/EcoAlsinaMotos/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>                            
    <div class="top-nav">                                      
        <label class="mobile_menu" for="mobile_menu">
        </label>
        <input id="mobile_menu" type="checkbox">
        <ul class="nav">
            <li class="dropdown1"><a>VEHICULOS</a>
                <ul class="dropdown2">
                    {% for c in categorias if c.orden != null %}
                        {% set slug = c.nombre|replace({' ':'-'}) %}
                        <li><a href="{{path('app_categorias',{categoria:slug|lower})}}">{{c.nombre|upper}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown1"><a href="{{path('app_categorias',{categoria:'accesorios'})}}">ACCESORIOS</a></li>      
            <li class="dropdown1"><a href="{{path('app_categorias',{categoria:'hot-sale'})}}">¡HOT SALE!</a></li>               
            <li class="dropdown1"><a href="{{path('app_posventa')}}">POSVENTA</a></li>               
            <li class="dropdown1"><a href="{{path('app_blog')}}">BLOG</a></li>
            <li class="dropdown1"><a href="{{path('app_contacto')}}">CONTACTO</a></li>
            <!-- <a class="fa fa-search" href="cart.html"></a> -->
        </ul>
    </div>
    <div class="clearfix"></div>
</div>