{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
	.seo{text-align: center;}
	.logo{
		width: 100%;
		float: none;
		text-align: center;	
	}
	.redes{
		float: none;
		text-align: center !important;	
		position: static;
	}
	.title{
		color: white;
    	display: inline-block;
		text-align: center;
	    padding: 15px 25px 0;
		width: 100%;
		font-family: 'neon-tube', sans-serif;
	}
	.subtitle{
		text-align: center;
		width: 100%;
		color: white;
    	display: inline-block;
    	padding: 12px 0 25px 25px;
    	font-size: 24px;
    	font-weight: light;
	}
	.descripcion{
		padding:40px;
		font-size: 20px;
		text-align: center;
	}
	.textcont{
		text-transform: uppercase;
		font-weight: 700;
		font-size:30px;
		/*color:white;*/
		/*text-shadow: 0 0 4px #FF0090;*/
	}
	.textcont span{
		display: block;
		font-weight: lighter;
		font-size:45px;
		margin-bottom: 25px;
	}
	form{ width: 65%; margin:0 auto;}
	form .field{
		width: 100%;
	 	padding:7px 5px;
	 }
	form .field label{
		float: left;
		font-weight: 600;
		/*color:white;*/
		text-shadow: 0 0 2px gray;
	 }
	form .field.half{
		width: 50%;
		float: left;
	 }
	form .field input, form .field select, form .field textarea{
		width: 100%;
		text-align: center;
		opacity: .8;
	}
	.contactSbm{
		overflow: hidden;
		border-radius: none;
	}
	.contactSbm input{
		width: 30%;
		border-radius: none;
		margin:5px;
		border:none;
		padding:10px 5px;
		text-transform: uppercase;
		background: black;
		color: white;
		/*border:1px solid #FF0090;*/
		/*float: left;*/
		/*font-weight: bold;*/
	}
	.secciones{
		/*background: url('{{asset('/bundles/front/images/backneon.jpg')}}')  30% 80%;*/
		/*box-shadow: 0 0 10px gray;*/
		background:black;
	}
	.secciones .items{
		padding:50px 0;
		padding:0;

	}
	.secciones .items img{
		width: 100%;
		opacity: .4;
		transition: all .6s;
	}
	.contactBox{
		color:black;
		padding:50px 0;
		/*background: url('{{asset('/bundles/front/images/backneon.jpg')}}');*/
		background-repeat: none;
		background-size: cover;
		background-position: 50%;
	}
	.secciones .items .masinfo{
		display: block;
		position: relative;
	}
	.secciones .items .masinfo:hover h4{
		transition: all .4s;
		display:none;
	}
	.secciones .items .masinfo:hover span{
		transition: all .4s;
		display: block;
	}
	.secciones .items .masinfo:hover img{
		opacity: 1;
		transition: all .4s;
	}
	.secciones .items .masinfo h4{
		position: absolute;
		color:white;
		top:45%;
		left:0%;
		width: 100%;
		transition: all .6s;
		font-size: 40px;
	}
	.secciones .items .masinfo span{
		font-size: 40px;
		position: absolute;
		color:white;
		top:45%;
		left:0%;
		transition: all .6s;
		text-align: center;
		width: 100%;
		background:rgba(0,0,0,.5);
		display:none;
	}
	.resena{
		padding:40px 15px;
		float: left;
		font-family: sans-serif;
	}
	.resena div{
		text-align: left;
	}
	.resena h5{
		font-size: 40px;
		font-family: 'Bai Jamjuree', sans-serif;
		font-size:25px;
	}
	.resena h5 b{
		font-size:30px;
		text-align: center;
		margin-bottom: 50px;
	}
	.resena span{
		color:gray;
		font-size:14px;
		display: block;
	}
	.resena b{
		font-size:17px;
		display: block;
		text-align: left;
	}
	.resena i{
		color:#e7680d;
	}
	.resena p{
		padding-top: 10px;
		font-size: 15px;
		font-weight: lighter;
	}
	.resena .fa-star{
		padding-top:10px;
	}
	.resena .fa-user{
		background: gray;
		color:white;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 50%;
		line-height: 55px;
		float: left;
		font-size:30px;
		margin-right: 10px;
	}
</style>

{% endblock %}
{% block body %}
	<body class="seo">

        <div class="header containerabs" style="background: url('{{asset('/bundles/front/images/backneon.jpg')}}') 30% 80%; position:static;">
		    <div class="logo" style="margin:0 auto;">
		        <a href="{{path('app_homepage')}}">
		            <img class="lazy" data-original="{{asset('bundles/front/images/logo.png')}}" src="{{asset('bundles/front/images/logo.png')}}" alt="Eco Alsina"/>
		        </a>
		        <div class="redes" >
		            <a href="https://www.instagram.com/ecoalsinamotos/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
		            <a href="https://www.facebook.com/EcoAlsinaMotos/" target="_blank"><i class="fab fa-facebook"></i></a>
		            <a href="" target="_blank"><i class="fab fa-youtube"></i></a>
		        </div>
		    </div>                            
			<h1 class="title" style="color:white;">Tienda de vehículos electricos</h1>
			<h2 class="subtitle" >Monopatines, Scooter, Triciclos eléctricos, City Coco</h2>
   		 	<div class="clearfix"></div>
		</div>
	
		<div class="container">
			<div class="descripcion">
				Venta de vehículos eléctricos con <b>entrega inmediata y envíos a domicilio.</b> <br>
				La variedad más amplia en marcas y modelos de monopatines, Scooter y más. <br>
				<b>Servicio	técnico</b>, showroom y la mejor <b>financiación</b>. Escribinos y compra online!
			</div>
		</div>
		<div class="contactBox">
			
			<h3 class="textcont">Contactate para más info <span>y conseguí el tuyo</span></h3>
			{{ form_start(form) }}
            <div class="fields">
                <div class="field half">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                </div>
                <div class="field half">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
				<div class="field half">
                    {{ form_label(form.telefono) }}
                    {{ form_widget(form.telefono) }}
                </div>
                <div class="field half">
                    {{ form_label(form.producto) }}
                    {{ form_widget(form.producto) }}
                </div>

                <div class="field">
                    {{ form_label(form.mensaje) }}
                    {{ form_widget(form.mensaje) }}
                </div>
            </div>
            <div class="text-md-left contactSbm">
              <input type="submit" value="Enviar">
            </div>
            <div class="status"></div>
            {{ form_end(form) }}

		</div>

		<div class="secciones">
				<div class="row items">
					<div class="col-sm-3 items monopatines">
						<a class="masinfo" href="{{path('app_contacto')}}">
							<img src="{{asset('bundles/front/images/landingm.png')}}"alt="">
							<h4>Monopatines</h4>	
							<span>Más info</span>
						</a>
					</div>
					<div class="col-sm-3 items scooter">
						<a class="masinfo" href="{{path('app_contacto')}}">
							<img src="{{asset('bundles/front/images/landings.png')}}" alt="">
							<h4>Scooter</h4>	
							<span>Más info</span>
						</a>
					</div>
					<div class="col-sm-3 items triciclos">
						<a class="masinfo" href="{{path('app_contacto')}}">
							<img src="{{asset('bundles/front/images/landingt.png')}}" alt="">
							<h4>Triciclos</h4>	
							<span>Más info</span>
						</a>
					</div>
					<div class="col-sm-3 items citycoco">
						<a class="masinfo" href="{{path('app_contacto')}}">
							<img src="{{asset('bundles/front/images/landingc.png')}}" alt="">
							<h4>Citycoco</h4>	
							<span>Más info</span>
						</a>
					</div>
				</div>
		</div>

		<div class="resena">
				
			<h5>Nada habla mejor de lo que somos <b>que un cliente feliz!</b></h5>
			<div class="col-sm-4">
				<div class="fa fa-user"></div>
				<b>Od. Claudio Sorrentino</b>
				<span>1 opinión</span>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<p>Excelente experiencia! En la Argentina de hoy encontrar alguien que conozca el producto que comercializa a la perfección, excelente trato y cordialidad e insuperable servicio post venta es un HALLAZGO con mayúsculas! Altamente recomendable! Muchas gracias Martín!</p>
			</div>
			<div class="col-sm-4">
				<div class="fa fa-user"></div>
				<b>thomvilla</b>
				<span>1 opinión</span>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<p>Excelente lugar, Martín y Fran tienen muy buena onda y les gusta lo que hacen. Podes probar monopatines y tienen financiación, lo recomiendo.</p>
			</div>
			<div class="col-sm-4">
				<div class="fa fa-user"></div>
				<b>Leo Rotondo</b>
				<span>1 opinión</span>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<p>Increíble la variedad de modelos que tienen en vehículos en dos y tres ruedas eléctricas como Citycoco, monopatines y scooters.</p>
			</div>			
		</div>




</body>
{% endblock %}
{% block javascriptbottom %}{% endblock %}

