h1 {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900 !important;
  border-bottom: 4px solid #f1b62b;
  margin: 30px 0;
  float: left;
  display: block;
  clear: both; }

#contacto #contact-form input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #c7c7c7;
  border-radius: 0; }
#contacto .formcontent {
  margin-bottom: 50px; }
#contacto .btn-primary {
  width: 25%;
  color: white;
  background: #000000 !important;
  float: left;
  font-size: 16px;
  transition: all .4s; }
  #contacto .btn-primary:hover {
    background: #f1b62b !important; }
  @media (min-width: 320px) and (max-width: 767px) {
    #contacto .btn-primary {
      width: 50%; } }
#contacto .mensaje {
  float: left;
  width: 100%; }
#contacto .ko {
  color: red; }

/*# sourceMappingURL=contacto.css.map */
