html, body {
  color: #fddaec;
  font-size: 100%;
  height: 100%;
  line-height: 1.45; }

#novedades {
  padding-top: 25px; }
  @media (min-width: 320px) and (max-width: 767px) {
    #novedades .slide {
      margin-bottom: 15px; } }
  #novedades .titleP {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 4px solid #f1b62b;
    float: left;
    clear: both;
    display: block; }
  #novedades section {
    display: block;
    clear: both; }
  #novedades .imagen {
    height: 125px;
    overflow: hidden;
    transition: all .3s; }
    @media (min-width: 320px) and (max-width: 767px) {
      #novedades .imagen {
        height: 180px; } }
    #novedades .imagen img {
      width: 100%;
      object-fit: contain;
      transition: all .3s;
      height: auto !important; }
  #novedades .titulo {
    color: black;
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1;
    transition: all .4s; }
  #novedades .bajada {
    font-size: .7em;
    padding: 5px;
    line-height: 1.4; }
  #novedades a {
    margin-right: 10px;
    color: black;
    display: block;
    transition: all .3s; }
    #novedades a:hover {
      text-decoration: none; }
      #novedades a:hover .titulo {
        color: #f1b62b; }

.slick-next:before, .slick-prev:before {
  font-size: 30px !important;
  line-height: 1;
  opacity: .75;
  color: #4c4c4c; }

.slick-prev {
  left: -35px; }

#videos {
  display: block;
  clear: both;
  margin-bottom: 90px; }
  @media (min-width: 320px) and (max-width: 767px) {
    #videos .videocont {
      margin-bottom: 15px; } }
  #videos .imgBack iframe {
    width: 100% !important; }
  #videos .vermas {
    width: 100%;
    clear: both;
    text-align: center; }
  #videos span {
    font-size: 10px;
    padding: 5px;
    color: gray;
    text-transform: uppercase; }

/* Video Overlay */
#overlay {
  background-color: black;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 300ms ease;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 767px) {
    #overlay {
      height: 70%; } }

.fade {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.85) !important; }

/* Hero Video + Fallback */
#hero-vid {
  backface-visibility: hidden;
  background: black !important;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  perspective: 1000;
  position: fixed;
  right: 0;
  width: auto;
  opacity: .6; }

#hero-pic {
  display: block;
  height: auto;
  width: 100%;
  opacity: .3; }
  @media (min-width: 320px) and (max-width: 767px) {
    #hero-pic {
      object-fit: cover;
      height: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #hero-pic {
      object-fit: cover;
      height: 100%; } }

#state {
  bottom: 0;
  cursor: pointer;
  font-size: 2.25rem;
  left: 0;
  line-height: 1;
  padding: 2rem 2.5rem 1.65rem;
  position: absolute; }

/* Content Styles */
#title {
  backface-visibility: hidden;
  left: 0;
  perspective: 1000;
  position: fixed;
  width: 100%; }

#content {
  background-color: white;
  padding: 0 15px;
  position: relative;
  z-index: 1; }

#content p {
  font-size: 1.25rem;
  letter-spacing: .02rem;
  margin-bottom: 1.3rem; }

/* Media Queries */
/* Visibility Helpers */
@media only screen and (min-width: 769px) {
  .visible-mobile, .visible-tablet, .hidden-desktop {
    display: none !important; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .visible-mobile, .hidden-tablet {
    display: none !important; } }
@media only screen and (max-width: 479px) {
  .hidden-mobile, .visible-tablet, .visible-desktop {
    display: none !important; } }
.ctatitle {
  color: #4a4a4a !important;
  float: right;
  text-transform: uppercase;
  /* line-height: 67px; */
  font-size: 13px;
  padding-top: 34px; }
  .ctatitle:hover {
    color: #f1b62b !important;
    font-size: 14px;
    font-weight: 500; }

.ctatitleMob {
  margin: 10px 0 50px;
  text-align: center;
  background: #da9900;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 0;
  color: white !important;
  border-radius: 5px; }

/*# sourceMappingURL=index.css.map */
