#noticia .imgCont {
  background: black;
  position: relative; }
  #noticia .imgCont img {
    opacity: .6;
    width: 100%;
    object-fit: cover;
    min-height: 350px; }
  #noticia .imgCont h1 {
    position: absolute;
    bottom: 40px;
    left: 5%;
    color: white;
    font-weight: 900;
    font-size: 3em;
    width: 70%;
    text-transform: uppercase;
    line-height: 60px;
    border-left: 6px solid black;
    padding-left: 15px; }
    #noticia .imgCont h1 .volanta {
      font-weight: 400;
      color: white;
      font-size: 20px;
      padding: 0;
      display: block;
      line-height: 30px; }
#noticia .date {
  color: gray;
  padding: 15px 0;
  font-weight: lighter;
  display: block;
  font-size: .9em; }
#noticia .bajada {
  font-size: 20px;
  padding: 0;
  margin: 0;
  padding-bottom: 15px; }

/*# sourceMappingURL=noticia.css.map */
