h1 {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: 4px solid #f1b62b;
  margin: 30px 0;
  float: left;
  display: block;
  clear: both; }

.nav-tabs {
  clear: both; }

.tab-content {
  margin-top: 25px; }
  .tab-content a {
    color: inherit;
    overflow: hidden;
    display: block; }
    .tab-content a:hover {
      text-decoration: none; }
      .tab-content a:hover .cta {
        background: #f1b62b;
        color: white; }
  .tab-content .credit {
    float: left;
    line-height: 25px;
    padding-right: 5px;
    font-weight: lighter;
    font-size: .9em; }
  .tab-content img {
    height: 13px;
    width: auto; }
  .tab-content .title {
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    clear: both;
    margin: 5px 0 10px;
    float: left;
    width: 100%; }
  .tab-content .cta {
    display: block;
    background: #d2d2d2;
    float: left;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #f1b62b;
  font-weight: bold;
  font-size: 1.2em; }
  @media (min-width: 320px) and (max-width: 767px) {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      line-height: 1; } }

.nav-tabs > li > a {
  border-radius: 0;
  color: gray; }

/*# sourceMappingURL=prensa.css.map */
