{% extends 'FrontBundle::layout.html.twig' %}
{% block title %}Dodo Digital | Blog{% endblock %}
{% block schema %}
<script type="application/ld+json">
</script>
{% endblock %}
{% block content %}
<div id="main" class="blog">
    <div class="row">
      <div class="title"> 
        <h1>Blog</h1>
      </div>
    </div>
    <div class="container"> 
      <div class="row news"> 
        {% for n in noticias %}
        <div class="col-md-4 col-sm-6 col-xs-12 item">
            {% set path = (n.titulo|convert_encoding('UTF-8', 'ISO-8859-1')|replace({' ': "-"})) %}
            <a href="{{path('app_blog_noticia',{titulo:path,id:n.id})}}">
              {% media n.imagen, 'big' %}
              <b>/ {{n.createDate|localizeddate('none', 'none', 'es_ES', null, "d MMM Y")}}</b>
              <h4>{{n.titulo}}</h4>
              <p>{{n.bajada}}</p>
              <span>Continuar leyendo <i class="fas fa-long-arrow-alt-right"></i></span>
            </a>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
<script>$("#clientCarousel").carousel();</script>
{% endblock %}
{% block javascriptbottom %}{% endblock %}
