{% extends '@Front/layout.html.twig'%}
{% block content%}
<div class="" style="border-top:3px solid #0080FF;">
	<div class="container blogCont">
		<h1>SOMOS <b>DEMENTES DE LOS MONOPATINES</b></h1>
		<p class="slogan">	Dementes es un club de aficionados por los monopatines, dónde compartimos salidas, grupos de debates, compra-venta de monopatines y mucho más. Seguinos en nuestras redes <br>	 <b>	@dementesdelosmonopatines</b></p>
	    <div class="news"> 
	        {% for n in noticias %}
	        <div class="col-md-4 col-sm-6 col-xs-12">
	        	<div class="item">
		            {% set path = (n.titulo|lower|replace({' ':'-','?':'','¿':'','á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u' })) %}
		            <div class="imgPrin">
		              {% media n.imgprincipal, 'big' %}
		            </div>
		            <a href="{{path('app_blog_noticia',{titulo:path,id:n.id})}}" class="info">
		              <span class="date">/ {{n.createDate|localizeddate('none', 'none', 'es_ES', null, "d MMM Y")}}</span>
		              <h4>{{n.titulo}}</h4>
		              <span class="pull-right">Continuar leyendo <i class="fas fa-long-arrow-alt-right"></i></span>
		            </a>
	        	</div>
	        </div>
	        {% endfor %}
	    </div>
	</div>
</div>

{% endblock %}

