{% extends '@Front/layout.html.twig'%}
{% block content%}
<!--/banner-->
<div class="parts">
	<div class="container">
		<h2>{{catData.nombre|upper}}</h2>
		<div class="bike-parts-sec">
			<div class="bike-parts acces">
				<div class="bike-apparels">
					<div class="parts1 row">
						{% if productos|length > 0 %}				 
						{% for p in productos %}				 
						<div class="part-sec part-sec-cat col-sm-4 col-xs-6">	
							{% set slugP = p.nombre|lower|replace({' ':'-','(':'',')':''}) %}
							<a href="{{path('app_producto',{'producto':slugP ,'id':p.id}) }}" class="">
								<img  class="lazy" src="{% path p.imgprincipal, 'big' %}" alt=""/>
								{#% for g in gallery if g.gallery.id == p.imagenes.id and g.position == 1 %}
									<img  class="lazy" src="{% path g.media, 'reference' %}" alt=""/>
								{% endfor %#}
								<div class="part-info">
									<h5>{{p.nombre}}
									</h5>
									<div class="price">
										{% if p.oferta > 0 %}
											{% for n in p.categoria|slice(0,1) if n.activarPrecio == true %}
											<span class="ant">${{p.precio|number_format(0, ',', '.')  }}</span>
											<span class="ofer">${{p.oferta|number_format(0, ',', '.')}}</span>
											{% endfor %}
										{% else %}
											{% for n in p.categoria|slice(0,1) if n.activarPrecio == true %}
												{% if p.precio > 0 %}
													<span class="ofer">${{p.precio|number_format(0, ',', '.')  }}</span>
												{% endif %}
											{% endfor %}
										{% endif %}
									</div>
									<span class="benef">
								 		{% for b in p.beneficios %}
										<span class="tooltip">
									 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
											<span class="tooltiptext">{{b.nombre}}</span>
										</span>
								 		{% endfor %}
									</span>
								</div>
							</a>
						</div>
						{% endfor %}
						{% else %}
							<p class="col-xs-12">No hay productos para esta categoria</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="rsidebar span_1_of_left">
				<div class="product_right">
					<h3 class="m_2">Categorías</h3>
					{% for cc in categorias %}
					{% if cc.nombre == catData.nombre%}
					<a class="dropdown catBtn selected">{{cc.nombre}}</a>
					{% else %}
					<a href="{{path('app_categorias',{'categoria':cc.nombre|replace({' ':'-'})})}}" class="dropdown catBtn">{{cc.nombre}}</a>
					{% endif %}
					{% endfor %}
				 </div>
			</div>	 
			<div class="clearfix"></div>
		 </div>
	</div>
</div>
<!---->

{% endblock %}

