{% extends '@Front/layout.html.twig' %}
{% block javascriptop %}
{% endblock %}
{% block content%}
<div id="main" class="contacto">
    <div class="container">
      <div class="title"> 
        <h1>Contacto</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">   
            <div class="col-sm-6"> 
                {% block form %}
                {% if app.request.get('val') == "ok" %}
                <b>Gracias! El mensaje ha sido enviado con éxito.</b>
                {% elseif  app.request.get('val') == "ko" %}
                <b style="color:red;">No se pudo enviar el mensaje, intenta nuevamente</a></b>
                {% endif %}
                <form id="contact-form" name="contact" method="post">
                {{ form_start(form) }}
                    <div class="fields">
                        <div class="field half">
                            {{ form_widget(form.nombre) }}
                        </div>
                        <div class="field half">
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="field">
                            {{ form_widget(form.asunto) }}
                        </div>

                        <div class="field">
                            {{ form_widget(form.mensaje) }}
                        </div>
                    </div>
                    <div class="row">
                   <div class="col-sm-3 text-md-left contactSbm">
                      <input type="submit" class="btn btn-primary" value="Enviar">
                    </div>
                    </div>
                    <div class="status"></div>
                {{ form_end(form) }}
                </form>
                {% endblock %}
              
            </div>
            <div class="col-sm-6 contt">
                <div class="title2">
                    <p>Enterate de mucho más sobre Eco Alsina en nuestras redes sociales. Seguinos para conocer los últimos ingresos y descubrir todo sobre esta comunidad. Para más info, escribinos y a la brevedad nos contactamos con vos!</p>
                    <a href="https://web.whatsapp.com/send?phone=1111111&amp;text=Hola Eco Alsina, quiero ponerme en contacto con ustedes!"> 
                        <span style="" class="fab fa-whatsapp">  </span> +54 (011) 15-3057-9744
                    </a> 
                    <a href="https://www.instagram.com/ecoalsinamotos/" target="_blank">
                       <span style="" class="fab fa-instagram"></span>/ecoalsinamotos
                    </a>
                    <a href="">
                        <span style="" class="fab fa-youtube"></span>/ecoalsinamotos
                    </a>
                    <a href="https://www.facebook.com/EcoAlsinaMotos/" target="_blank">
                        <span style="" class="fab fa-facebook"></span>/ecoalsinamotos
                    </a>
              </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
