{% extends '@Front/layout_home.html.twig' %}
{% block javascriptop %}<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>{% endblock %}
{% block content %}
{% include '@Front/partials/_hot-sale.html.twig' with hotsale %}

{% include '@Front/partials/_novedades.html.twig' %}

{% include '@Front/partials/_servicio-tecnico.html.twig' %}

{% include '@Front/partials/_accesorios.html.twig' with accesorios %}

{% include '@Front/partials/_blog.html.twig' %}

{% include '@Front/partials/_destacados.html.twig' with destacados %}

{% endblock %}

