{% extends '@Front/layout.html.twig'%}
{% block content%}
{% for n in noticia|slice(0,10)%}
<div class="" style="border-top:3px solid #0080FF;">
	<div class="container notice">
		<div class="breadCumb"> <a href="{{path('app_blog')}}">Blog</a><span class="date"> > {{n.fecha|date('d/m/Y')}}</span></div>
		<div class="row">
			<div class="not col-sm-8">
				<h1 class="titulo">{{n.titulo}}</h1>
				<p class="bajada">{{n.bajada}}</p>
				<div class="imgprinc">
					{% media n.imgprincipal, 'reference' %}
				</div>
				<div class="cuerpo">{{n.cuerpo|raw}}</div>
				<div class="tags">
				{% for t in n.tags%}
				<a><i class="fa fa-tag" aria-hidden="true"></i> {{t.nombre|upper}}</a>
				{% endfor %}
				</div>
				<div class="clearfix"></div>
				{% if n.producto != null %}
				<div class="relatedProd">
					<h2 class="relatedTitle">Encontrá en Eco Alsina</h2>
					{% include '@Front/partials/_mas-productos.html.twig' with {'related': n.producto} %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}

