{% extends '@Front/layout.html.twig' %}
{% block javascriptop %}
{% endblock %}
{% block stylesheets %}
{{parent()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
{% endblock %}
{% block content%}
<div id="posventa">
	<div class="sec comentarios">
		<div class="container">
			<div class="col-sm-12">
				<div class="row resena">
					<div class="col-sm-4">
						<div class="fa fa-user"></div>
						<b>Od. Claudio Sorrentino</b>
						<span>1 opinión</span>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<p>Excelente experiencia! En la Argentina de hoy encontrar alguien que conozca el producto que comercializa a la perfección, excelente trato y cordialidad e insuperable servicio post venta es un HALLAZGO con mayúsculas! Altamente recomendable! Muchas gracias Martín!</p>
					</div>
					<div class="col-sm-4">
						<div class="fa fa-user"></div>
						<b>thomvilla</b>
						<span>1 opinión</span>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<p>Excelente lugar, Martín y Fran tienen muy buena onda y les gusta lo que hacen. Podes probar monopatines y tienen financiación, lo recomiendo.</p>
					</div>
					<div class="col-sm-4">
						<div class="fa fa-user"></div>
						<b>Leo Rotondo</b>
						<span>1 opinión</span>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<p>Increíble la variedad de modelos que tienen en vehículos en dos y tres ruedas eléctricas como Citycoco, monopatines y scooters.</p>
					</div>			
				</div>
			</div>
			<div class="col-sm-12 text">
					<p> Nada habla mejor de lo que somos , que un <span>cliente feliz!</span> </p>
					<p class="sub">Tu vehículo eléctrico te esta esperando en Eco Alsina 
						<b>	 ¿Que esperas para sumarte a la movida electrica?</b></p>
			</div>
		</div>
	</div>

	<div class="brands_slider_container">
        <div class="owl-carousel owl-theme brands_slider">
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-1.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-2.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-3.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-4.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-5.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-6.jpg')}}" alt="">
                </div>
            </div>
            <div class="owl-item">
                <div class="brands_item d-flex flex-column justify-content-center">
                	<img src="{{asset('bundles/front/images/posventa/img-7.jpg')}}" alt="">
                </div>
            </div>
           
        </div> <!-- Brands Slider Navigation -->
        
    </div>
  </div>

 

</div>

{% include '@Front/partials/_servicio-tecnico.html.twig' %}

{% include '@Front/partials/_accesorios.html.twig' with accesorios %}

{% endblock %}
{% block javascriptbottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script>
$(document).ready(function(){

if($('.brands_slider').length)
{
var brandsSlider = $('.brands_slider');

brandsSlider.owlCarousel(
{
loop:true,
autoplay:true,
autoplayTimeout:1000,
nav:false,
dots:true,
autoWidth:false,
items:6,
margin:42,
responsiveClass:true,
    responsive:{
        0:{
            items:3,
            dots:true,
        },
        600:{
            items:4,
            dots:true,
        },
        1000:{
            items:4,
            dots:true,
            loop:false
        }
    }
});

if($('.brands_prev').length)
{
var prev = $('.brands_prev');
prev.on('click', function()
{
brandsSlider.trigger('prev.owl.carousel');
});
}

if($('.brands_next').length)
{
var next = $('.brands_next');
next.on('click', function()
{
brandsSlider.trigger('next.owl.carousel');
});
}
}


});

</script>
{% endblock %}