<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
<channel>
<title>Eco Alsina Motos</title>
<link>https://ecoalsina.com.ar</link>
<description>Venta de motos electricas y accesorios</description>
{% for producto in productos %}
<item>
<g:id>{{producto.id}}</g:id>
<g:title>{{producto.nombre|capitalize}}</g:title>
<g:description>{{producto.descripcion}}</g:description>
{% set slugP = producto.nombre|lower|replace({' ':'-','(':'',')':''}) %}
<g:link>https://ecoalsina.com.ar{{path('app_producto',{'producto':slugP ,'id':producto.id}) }}</g:link>
<g:image_link>https://ecoalsina.com.ar{% path producto.imgprincipal, 'reference'%}</g:image_link>
<g:brand>Eco Alsina</g:brand>
<g:condition>new</g:condition>
<g:availability>in stock</g:availability>
{% set precio = 1 %}
  {% if producto.oferta > 0 %}
    {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
    {% set precio = producto.oferta|number_format(0, ',', '.')%}
    {% endfor %}
  {% else %}
    {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
    {% if producto.precio > 0  %}
      {% set precio = producto.precio|number_format(0, ',', '.')%}
    {% endif %}
    {% endfor %}
  {% endif %}
<g:price>{{precio}} ARS</g:price>
<g:shipping>
<g:country>UK</g:country>
<g:service>Standard</g:service>
{% set precio = 1 %}
  {% if producto.oferta > 0 %}
    {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
    {% set precio = producto.oferta|number_format(0, ',', '.')%}
    {% endfor %}
  {% else %}
    {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
    {% if producto.precio > 0  %}
      {% set precio = producto.precio|number_format(0, ',', '.')%}
    {% endif %}
    {% endfor %}
  {% endif %}
<g:price>{{precio}} ARS</g:price>
</g:shipping>
<g:google_product_category>Vehicles &amp; Parts</g:google_product_category>
<g:custom_label_0>Argentina</g:custom_label_0>
</item>
{% endfor %}
</channel>
</rss>