<?xml version="1.0" encoding="UTF-8"?>
<listings>
    <title>Vehicles Feed</title>
    <link rel="self" href="https://ecoalsina.com.ar"/>
    {% for producto in productos %}
    <listing>
      <vehicle_id>'{{producto.id}}'</vehicle_id>
      <title>{{producto.nombre}}</title>
      <fb_page_id>547156759092456</fb_page_id>
      <description>{{producto.descripcion}}</description>
      {% set slugP = producto.nombre|lower|replace({' ':'-','(':'',')':''}) %}
      <url>https://ecoalsina.com.ar{{path('app_producto',{'producto':slugP ,'id':producto.id}) }}</url>
      <make>EcoAlsina</make>
      <image>
        <url>https://ecoalsina.com.ar{% path producto.imgprincipal, 'reference'%}</url>
        <tag></tag>
      </image>
      <model>{{producto.nombre}}</model>
      <year>2020</year>
      <mileage>
        <value>0</value>
        <unit>KM</unit>
      </mileage>
      <drivetrain>NONE</drivetrain>
      <vin></vin>
      <body_style>OTHER</body_style>
      <fuel_type>ELECTRIC</fuel_type>
      <transmission>OTHER</transmission>
      <condition>EXCELLENT</condition>
      {% set precio = 1 %}
      {% if producto.oferta > 0 %}
        {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
        {% set precio = producto.oferta|number_format(0, ',', '.')%}
        {% endfor %}
      {% else %}
        {% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
        {% if producto.precio > 0  %}
          {% set precio = producto.precio|number_format(0, ',', '.')%}
        {% endif %}
        {% endfor %}
      {% endif %}
      <price>{{precio}} ARS</price>
      <address format="simple">
          <component name="addr1">Av. José María Moreno 1293, C1424 AAM</component>
          <component name="city">Buenos Aires</component>
          <component name="region">CABA</component>
          <component name="postal_code">1293</component>
          <component name="country">Argentina</component>
      </address>
      <latitude></latitude>
      <longitude></longitude>
      <exterior_color>Black</exterior_color>
      <sale_price>{{precio}} ARS</sale_price>
      <availability>AVAILABLE</availability>
      <date_first_on_lot></date_first_on_lot>
      <state_of_vehicle>NEW</state_of_vehicle>
      <dealer_id></dealer_id>
    </listing>
    {% endfor %}
</listings>