{% extends '@Front/layout.html.twig' %}
{% set precio = '' %}
{% if producto.oferta > 0 %}
	{% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
	{% set precio = producto.oferta|number_format(0, ',', '.')%}
	{% endfor %}
{% else %}
	{% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
	{% if producto.precio > 0  %}
		{% set precio = producto.precio|number_format(0, ',', '.')%}
	{% endif %}
	{% endfor %}
{% endif %}
{% block pixelFB %}
<!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '608238326784952'); 
        fbq('track', 'PageView');
		fbq('track', 'ViewContent', {
		      content_type: 'vehicle', // REQUIRED: DO NOT change this, must be set to 'vehicle'
		      content_ids: '{{producto.id}}', // REQUIRED: array of vehicle IDs
		      postal_code: '', // RECOMMENDED
		      country: 'Argentina', // RECOMMENDED  don't use abbreviations
		      make: '', // RECOMMENDED
		      model: '{{producto.nombre}}', // RECOMMENDED
		      year: '2020', // RECOMMENDED
		      state_of_vehicle: '', // RECOMMENDED
		      exterior_color: '', // RECOMMENDED
		      transmission: 'electric', // RECOMMENDED
		      body_style: '', // RECOMMENDED
		      fuel_type: 'electric', // RECOMMENDED
		      drivetrain: '', // RECOMMDENDED
		      price: '{{precio}}', // RECOMMENDED, up to 2 decimals optional
		      currency: 'ARS', // REQUIRED if price and preferred_price_range is used 
		      preferred_price_range: '' // Optional up to two decimals, min,max
		});
		fbq('track', 'Search', {
		      content_type: 'vehicle', // REQUIRED: DO NOT change this, must be set to 'vehicle'
		      content_ids: '{{producto.id}}', // RECOMMENDED: array of vehicle IDs
		      postal_code: '', // RECOMMENDED
		      country: 'Argentina', // RECOMMENDED  don't use abbreviations
		      make: '', // RECOMMENDED
		      model: '', // RECOMMENDED
		      year: '2020', // RECOMMENDED
		      state_of_vehicle: '', // RECOMMENDED
		      exterior_color: '', // RECOMMENDED
		      transmission: 'electric', // RECOMMENDED
		      body_style: 'sedan', // RECOMMENDED
		      fuel_type: 'electric', // RECOMMENDED
		      drivetrain: '', // RECOMMDENDED
		      price: '{{precio}}', // RECOMMENDED, up to 2 decimals optional
		      currency: 'ARS', // REQUIRED if price and preferred_price_range is used, currency has to be the same for both price and preferred_price_range 
		      preferred_price_range: '' // Optional up to two decimals, min,max
		});
		fbq('track', 'AddToWishlist', {
		      content_type: 'vehicle', // REQUIRED: DO NOT change this, must be set to 'vehicle'
		      content_ids: '{{producto.id}}', // REQUIRED: array of vehicle IDs
		      postal_code: '', // RECOMMENDED
		      country: 'Argentina', // RECOMMENDED  don't use abbreviations
		      make: '', // RECOMMENDED
		      model: '', // RECOMMENDED
		      year: '2020', // RECOMMENDED
		      state_of_vehicle: '', // RECOMMENDED
		      exterior_color: '', // RECOMMENDED
		      transmission: 'electric', // RECOMMENDED
		      body_style: '', // RECOMMENDED
		      fuel_type: 'electric', // RECOMMENDED
		      drivetrain: '', // RECOMMDENDED
		      price:  '{{precio}}', // RECOMMENDED, up to 2 decimals optional
		      currency: 'ARS', // REQUIRED if price and preferred_price_range is used 
		      preferred_price_range: '' // Optional up to two decimals, min,max
		});
        </script>
        <noscript>
         <img height="1" width="1" src="https://www.facebook.com/tr?id=608238326784952&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->{% endblock %}
{% block schema %}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"Product",
  "productID":"{{producto.id}}",
  "name":"{{producto.nombre}}",
  "description":"{{producto.descripcion}}",
  "url":"{{ app.request.requesturi }}",
  "image":"{% path producto.imgprincipal, 'big'%}",
  "brand":"EcoAlsina",
  "offers": [
    {
      "@type": "Offer",
      "price": "{{precio}}",
      "priceCurrency": "ARS",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock"
    }
  ],
  "additionalProperty": [{
    "@type": "PropertyValue",
    "propertyID": "{{producto.categoria[0].id}}",
    "value": "{{producto.categoria[0].nombre}}"
  }]
}
</script>


{% endblock %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/front/css/etalage.css') }}" />
{% endblock %}
{% block javascriptop %}
<script src="{{ asset('bundles/front/js/jquery.etalage.min.js')}}"></script>
{% endblock %}
{% block content%}
<script>
jQuery(document).ready(function($){

	// https://github.com/flintdigital/jquery-plugin-gallery-etalage
	$('#etalage').etalage({
	thumb_image_width: 400,
	thumb_image_height:400,
	source_image_width: 800,
	source_image_height: 1000,
	show_hint: false,
	autoplay: false,
	show_icon: false,
	// click_callback: function(image_anchor, instance_id){
	// 	alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
	// }
	});

	$(".etalage_thumb object").siblings("img").css('display','none');

	$(".etalage_small_thumbs ul li").each(function(index) {
    $(this).on("click", function(){
     if ($(".etalage_thumb object").parent("li").hasClass("etalage_thumb_active")) {
		$($(".etalage_thumb object").parent("li")).on('mouseover mousemove mouseout mouseenter mouseleave mouseup mousedown', function() {
		   $("li.etalage_zoom_area").css('display','none')
		   $("li.etalage_magnifier").css('display','none')
		});
	}
    });
});
});
	
</script>
<!--/banner-->
<div class="product">
	<div class="container">
		<div class="ctnt-bar cntnt">
			<div class="content-bar">
				<div class="single-page">
					<div class="product-head">
						<a href="{{path('app_homepage')}}">Home</a> <span>::</span> 
						{% for c in producto.categoria if c.orden > 0 or c.nombre == "accesorios" %}
						{% set categoriaPrincipal = c.nombre %}
						{% set slug = categoriaPrincipal|replace({' ':'-'}) %}
						<a href="{{path('app_categorias',{categoria:slug|lower})}}">{{categoriaPrincipal}} /</a>
						{% endfor %}
					</div>
					<!--Include the Etalage files-->
					<!--//details-product-slider-->
					<div class="details-left-slider">
						<div class="grid images_3_of_2">
							<ul id="etalage">
								{#% for g in gallery if g.gallery.id == p.imagenes.id and g.position == 1 %}
									<img  class="lazy" src="{% path g.media, 'reference' %}" alt=""/>
								{% endfor %#}
								{% if gallery != null %}
								{% for g in gallery %}
								<li>
									{% if g.media.providerName == 'sonata.media.provider.youtube' %}
			                          {% media g.media, 'reference'%}
									{% else %}
									<img class="etalage_thumb_image" src="{% path g.media, 'reference'%}" class="img-responsive" />
									{% endif %}
									<img class="etalage_source_image" src="{% path g.media, 'reference'%}" class="img-responsive" title="" />
								</li>
								{% endfor %}
								{% else %}
								<li>
									<img class="etalage_thumb_image" src="{% path producto.imgprincipal, 'reference'%}" class="img-responsive" />
									<img class="etalage_source_image" src="{% path producto.imgprincipal, 'reference'%}" class="img-responsive" title="" />
								</li>
								{% endif %}
							</ul>
						</div>
				 	</div>
				 	<div class="details-left-info">
						<h3>{{producto.nombre}}</h3>
							<h4>Modelo Nro: {{producto.id}}</h4>
							{% if producto.oferta > 0 %}
									{% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
										<span class="ant">Antes ${{producto.precio|number_format(0, ',', '.')  }}</span>
										<p class="ofer"><label>$</label> {{producto.oferta|number_format(0, ',', '.')}}</p>
									{% endfor %}
							{% else %}
									{% for c in producto.categoria|slice(0,1) if c.activarPrecio == true %}
									{% if producto.precio > 0  %}
										<p><label>$</label> {{producto.precio|number_format(0, ',', '.')}}</p>
									{% endif %}
									{% endfor %}
							{% endif %}
						{% if producto.colores != null and producto.colores|length > 0 %}
						<p class="size">COLORES ::</p>	
						{% for color in producto.colores %}
						<span class="lenght" style="border:1px solid gray;background:{{color}};"></span>
						{% endfor %}
						{% endif %}
						<div class="benef">
							{% for b in producto.beneficios %}
							<span class="tooltip" style="display:inline-block;">
						 	<img src="{% path b.icono, 'small'%}" alt="{{b.nombre|upper}}">
								<span class="tooltiptext">{{b.nombre}}</span>
							</span>
							{% endfor %}
						</div>
						<div class="bike-type">
							<p>CATEGORIAS  ::
							{% for c in producto.categoria  %}
							{% set categoriaPrincipal = c.nombre %}
							{% set slug = categoriaPrincipal|replace({' ':'-'}) %}
							<a href="{{path('app_categorias',{categoria:slug|lower})}}">{{categoriaPrincipal|upper}} /</a>
							{% endfor %}
							</p>
							{% if producto.marca != null %}
							<p>MARCA  ::
							{{producto.marca}}
							</p>
							{% endif %}
						</div>
						<h5>Descripción  ::
						</h5>
						<p class="desc">{{producto.descripcion}}</p>
				 	</div>
				 	<div class="clearfix"></div>				 	
				</div>
			</div>
		</div>
		<div class="single-bottom2">
		  	<h6>Ficha técnica
			  	{% if producto.pdf.id != null %}
			  	<a class="fichaa pull-right" target="_blank" href="{% path producto.pdf, 'reference' %}"><i class="fas fa-file-download"></i> Descargar ficha</a>
			  	{% endif %}
		  	</h6>
		  	{% include '@Front/partials/_ficha-tecnica.html.twig' with  {'p': producto} %}
			<!-- <div class="product">
				<div class="product-desc">
					<div class="product-img product-img2">
						<img src="images/s1.jpg" class="img-responsive " alt=""/>
					</div>
					<div class="prod1-desc">
						<h5><a class="product_link" href="bicycles.html">Road Bike</a></h5>
						<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<span class="price-access">$300.51</span>								
					<a class="button1" href="cart.html"><span>Add to cart</span></a>
				</div>
				<div class="clearfix"></div>
			 </div> -->
		 </div>	
		 {% set slug = producto.categoria[0]|replace({' ':'-'}) %}
			<h3 class="relatedTitle pull-left"><a href="{{path('app_categorias',{categoria:slug|lower})}}">VER MÁS {{ producto.categoria[0]|upper}}</a></h3>
		 {% include '@Front/partials/_mas-productos.html.twig' with  {'related': related} %}
	 </div>
</div>
{% endblock %}