.logo img{
    max-width: 100% !important;
}
.login-logo a img{
    width: 100% !important;
}
.login-page, .register-page{
    background: white !important;
}
div.mosaic-inner-box{
    height: 200px;
}