.jsonTable .fill{
    height: 100%
}
.jsonText,
.jsonTable .td_head,
.jsonTable .td_row_even,
.jsonTable .td_row_odd {
    font-size: small
}
#json_pnl,
#xxa,
.jsonTable .navbar-header,
.jsonTable .navbar-nav,
.jsonTable .navbar-nav>li,
.jsonTable .td_head {
    float: left
}
.jsonTable .fill {
    min-height: 100%
}
.jsonText {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
}
#widget {
    width: 100%
}
.jsonTable .top_size {
    height: 51px
}
#all_panels {
    height: 100%;
    min-height: 100%
}
#aboutLnk {
    position: fixed;
    right: 10px;
    top: 15px
}
#inner_text {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 51px;
    margin-bottom: 0
}
#json_pnl {
    background-color: #ccc;
    width: 33.3%
}
#xxa {
    background-color: #E8E8E8;
    width: 66.7%
}
#table_pnl,
#tree_pnl {
    background-color: #E8E8E8;
    float: left;
    width: 50%
}
#sharethis {
    position: fixed;
    right: 80px;
    top: 10px
}
.jsonTable {
    padding-left: 2px
}
.jsonTable .td_row_even {
    padding: 2px;
    background-color: #F6F4F0
}
.jsonTable .td_row_odd {
    padding: 2px;
    background-color: #FFF
}
.jsonTable .td_head {
    padding: 2px;
    font-weight: 700
}
.jsonTable input,
.jsonTable p,
.jsonTable select,
.jsonTable td,
.jsonTable textarea,
.jsonTable th {
    font-size: 1em
}
.jsonTable table,
.jsonTable td,
.jsonTable th {
    border: 1px solid gray
}
.jsonTable textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4px;
    border: 1px solid #333;
    overflow-y: auto;
    overflow-x: hidden
}
.jsonTable form,
.jsonTable h1,
.jsonTable h2,
.jsonTable h3,
.jsonTable h4,
.jsonTable h5,
.jsonTable li,
.jsonTable p,
.jsonTable ul {
    margin: 0;
    padding: 0
}
.jsonTable img {
    border: none
}
.jsonTable p {
    margin: 0 0 1em
}
.jsonTable table {
    font-size: 100%
}
.jsonTable ol.tree {
    padding: 0 0 0 30px;
    width: 300px
}
.jsonTable li {
    position: relative;
    margin-left: -15px;
    list-style: none
}
.jsonTable li.file {
    margin-left: -1px!important
}
.jsonTable li.file a {
    background: url(leaf.png)0 5px no-repeat;
    color: #000;
    padding-left: 12px;
    text-decoration: none;
    display: block;
    font-size: small
}
.jsonTable li.file a[href$='.css'],
.jsonTable li.file a[href$='.js'],
.jsonTable li.file a[href*='.pdf'],
.jsonTable li.file a[href*='.html'] {
    background: url(http://www.thecssninja.com/demo/css_tree/document.png)no-repeat
}
.jsonTable li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0
}
.jsonTable li input+ol {
    background: url(http://www.thecssninja.com/demo/css_tree/toggle-small-expand.png)40px -3px no-repeat;
    margin: -20px 0 0 -44px;
    height: 1em;
    padding: 1.563em 0 0 80px
}
.jsonTable li label.lbl_array,
.jsonTable li label.lbl_obj {
    display: block;
    padding-left: 33px;
    margin-bottom: 2px
}
.jsonTable li input+ol>li {
    display: none;
    margin-left: -14px!important;
    padding-left: 1px
}
.jsonTable li label.lbl_obj {
    background: url(folder.png)15px 1px no-repeat;
    cursor: pointer
}
.jsonTable li label.lbl_array {
    background: url(array.png)15px 1px no-repeat;
    cursor: pointer
}
.jsonTable li input:checked+ol {
    background: url(http://www.thecssninja.com/demo/css_tree/toggle-small.png)40px -3px no-repeat;
    margin: -20px 0 0 -44px;
    padding: 1.563em 0 0 80px;
    height: auto
}
.jsonTable li input:checked+ol>li {
    display: block;
    margin: 0 0 .125em
}
.jsonTable li input:checked+ol>li:last-child {
    margin: 0 0 .063em
}
.jsonTable .container {
    width: 970px;
    max-width: none!important
}
.jsonTable .col-xs-4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2)
}
.jsonTable .container .navbar-collapse,
.jsonTable .container .navbar-header {
    margin-right: 0;
    margin-left: 0
}
.jsonTable .navbar-collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    border-top: 0
}
.jsonTable .navbar-toggle {
    display: none
}
.jsonTable .navbar-brand {
    margin-left: -15px
}
.jsonTable .navbar-btn {
    margin-left: 15px
}
.jsonTable .navbar-nav {
    margin: 0
}
.jsonTable .navbar-nav>li>a {
    padding: 15px
}
.jsonTable .navbar-nav.navbar-right {
    float: right
}
.jsonTable .navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}
.jsonTable .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333
}
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.active>a,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.active>a:focus,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>li>a:focus,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff!important;
    background-color: #428bca!important
}
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.disabled>a,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus,
.jsonTable .navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover {
    color: #999!important;
    background-color: transparent!important
}