{% extends 'base.html.twig' %}
{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('bundles/front/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/style-mobile.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/nav.css') }}" />
{% endblock %}
{% block body %}
<body class="is-preload">
    <!-- Header -->
    <script src="{{asset('bundles/front/js/responsiveslides.min.js')}}"></script>
    <script>  
        $(function () {
          $("#slider").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
      </script>
    <!-- SLIDER -->
    <div class="slider">
        <!--Header -->
        {% include '@Front/partials/header.html.twig' %}
        <!--/ Header -->
        <!-- banners -->
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                {% for b in banners%}
                <li>
                    <div class="banner-bg">  
                        {% if b.imagen.providerName == "sonata.media.provider.file" %}
                        <video autoplay loop muted playsinline>
                          <source src="{% path b.imagen , 'reference' %}" type="video/webm">
                        </video>
                            
                        {% else %}
                            {% if is_mobile() %}
                                {% media b.imagen, 'big' %}
                            {% else %}
                                {% media b.imagen, 'reference' %}
                            {% endif %}
                        {% endif %}
                        <!-- <img class="lazy" data-original="{#{asset('bundles/front/images/banner1.jpg')}#}" alt=""> -->
                        <div class="caption">
                            <div class="neon-wrapper" onload="document.body.style.opacity='1'">
                                 <div class="neon-text">{{b.titulo|raw}}</div>
                                 <p>{{b.bajada|raw}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
      
            </ul>
              <!-- <a class="morebtn" href="bicycles.html">Ver más</a> -->
        </div>
        <!-- /banners -->

        <!-- CATEGORIAS -->
        <div class="containerabs categoriesV">
            {% for c in categorias if c.orden != null %}
            {% set slug = c.nombre|replace({' ':'-'}) %}
            <a href="{{path('app_categorias',{categoria:slug|lower})}}"class="col-sm-2 col-xs-4  boxcategory">
                <div class="color">
                    <img class="lazy" data-original="{{asset('bundles/front/images/icons/'~slug~'.svg')}}" style="fill:white;" alt="">
                    <p>{{c.nombre|capitalize}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <!-- /CATEGORIAS -->
    </div>
    <!-- /SLIDER  -->      
    <!-- Main -->
    {% block content %}{% endblock %}
    <!-- /Main -->
    <!-- Footer -->
    {% include '@Front/partials/footer.html.twig' %}
    <!-- /Footer -->
</body>
{% endblock %}
{% block javascriptbottom %}{% endblock %}

