{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/front/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/style-mobile.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/css/nav.css') }}" />
{% endblock %}
{% block pixelFB %}{% endblock %}
{% block schema %}{% endblock %}
{% block body %}
<body class="layout">
    {% if app.request.attributes.get('_route') == 'app_categorias' and catData.imagen != null %}
        {% if is_mobile() %}
            <div class="headerLayout" style="background: url('{%path catData.imagen, 'big' %}') 50%;">
        {% else %}
            <div class="headerLayout" style="background: url('{%path catData.imagen, 'reference' %}') 50%;">
        {% endif %}
    {% elseif app.request.attributes.get('_route') == 'app_producto'  %}
        {% if is_mobile() %}
            <div class="headerLayout" style="background: url('{% path producto.imgprincipal, 'big' %}') 50%;">
        {% else %}
            <div class="headerLayout" style="background: url('{% path producto.imgprincipal, 'reference' %}') 50%;">
        {% endif %}
    {% elseif app.request.attributes.get('_route') == 'app_blog' or app.request.attributes.get('_route') == 'app_blog_noticia' %}
        {% if is_mobile() %}
            <div class="headerLayout" style="background: url('{{asset('/bundles/front/images/background.jpg')}}') 50%;">
        {% else %}
            <div class="headerLayout" style="background: url('{{asset('/bundles/front/images/background.jpg')}}') 50%;">
        {% endif %}
    {% elseif app.request.attributes.get('_route') == 'app_contacto' or app.request.attributes.get('_route') == 'app_contacto_validate' %}
            <div class="headerLayout" style="background: url('{{asset('/bundles/front/images/contact2.jpg')}}') 50%;">
    {% else %}
        {% if is_mobile() %}
            <div class="headerLayout" style="background: url('{{asset('/bundles/front/images/defaultheader.jpg')}}') 50%;">
        {% else %}
            <div class="headerLayout" style="background: url('{{asset('/bundles/front/images/defaultheader-mobile.jpg')}}') 50%;">
        {% endif %}
    {% endif %}
        <!--Header -->
        {% include '@Front/partials/header.html.twig' %}
        <!--/ Header -->
         
        <!-- CATEGORIAS -->
        <div class="containerabs categoriesV">
            {% for c in categorias if c.orden != null %}
            {% set slug = c.nombre|replace({' ':'-'}) %}
            <a href="{{path('app_categorias',{categoria:slug|lower})}}"class="col-sm-2 col-xs-4 boxcategory {% if app.request.attributes.get('_route_params').categoria == slug %}active {%endif%}">
                <div class="color">
                    <img class="lazy" data-original="{{asset('bundles/front/images/icons/'~slug~'.svg')}}" style="fill:white;" alt="">
                    <p>{{c.nombre|capitalize}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    <!-- /CATEGORIAS -->
    </div>
    <!-- /headerLayout-->      
    <!-- Main -->
    {% block content %}{% endblock %}
    <!-- /Main -->
    <!-- Footer -->
    {% include '@Front/partials/footer.html.twig' %}
    <!-- /Footer -->
</body>
{% endblock %}
{% block javascriptbottom %}{% endblock %}

