{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/front/landings/css/core.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/front/landings/css/skin-architecture.css')}}" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}
{% block pixelFB %}{% endblock %}
{% block schema %}{% endblock %}
{% block body %}
<body class="shop home-page">
    <!-- Side Navigation Menu -->
    <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
        <div class="side-navigation-scroll-pane">
            <div class="side-navigation-inner">
                <div class="side-navigation-header">
                    <div class="navigation-hide side-nav-hide">
                        <a href="#">
                            <span class="icon-cancel medium"></span>
                        </a>
                    </div>
                </div>
                <nav class="side-navigation">
                    <ul>
                        <li class="current">
                            <a href="#home" data-offset="0" class="scroll-link">Home</a>
                        </li>
                        <li>
                            <a href="#prod1" data-offset="8" class="scroll-link">NF 10 BLACK LABEL</a>
                        </li>
                        <li>
                            <a href="#espec" data-offset="8" class="scroll-link">Especificaciones</a>
                        </li>
                        <li>
                            <a href="#galeria" data-offset="0" class="scroll-link">Galeria</a>
                        </li>
                        <li>
                            <a href="#contact" data-offset="8" class="scroll-link">Contacto</a>
                        </li>
                    </ul>
                </nav>
                <div class="side-navigation-footer">
                    <ul class="social-list list-horizontal">
                        <li><a href="#"><span class="icon-youtube small"></span></a></li>
                        <li><a href="#"><span class="icon-facebook small"></span></a></li>
                        <li><a href="#"><span class="icon-instagram small"></span></a></li>
                    </ul>
                    <p class="copyright no-margin-bottom"><a href="">By Eco Alsina</a></p>
                </div>
            </div>
        </div>
    </aside>
    <!-- Side Navigation Menu End -->

    <div class="wrapper reveal-side-navigation">
        <div class="wrapper-inner">

            <!-- Header -->
            <header class="header header-fixed header-bottom header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
                <div class="header-inner">
                    <div class="row nav-bar">
                        <div class="column width-12 nav-bar-inner">
                            <div class="logo">
                                <div class="logo-inner">
                                     <a href="{{path('app_homepage')}}"><img src="{{asset('bundles/front/landings/images/logo-black.png')}}" alt="Eco Alsina" /></a>
                                    <a href="{{path('app_homepage')}}"><img src="{{asset('bundles/front/landings/images/logoe-01.png')}}" alt="Eco Alsina" /></a>
                                </div>
                            </div>
                            <nav class="navigation nav-block secondary-navigation nav-right">
                                <ul>
                                    <li class="aux-navigation hide">
                                        <!-- Aux Navigation -->
                                        <a href="#" class="navigation-show side-nav-show nav-icon">
                                            <span class="icon-menu"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="navigation nav-block primary-navigation nav-right no-margin-right">
                                <ul>
                                    <li class="current">
                                        <a href="#home" data-offset="0" class="scroll-link">Home</a>
                                    </li>
                                    <li>
                                        <a href="#prod1" data-offset="8" class="scroll-link">NF 10 BLACK LABEL</a>
                                    </li>
                                    <li>
                                        <a href="#espec" data-offset="8" class="scroll-link">Especificaciones</a>
                                    </li>
                                    <li>
                                        <a href="#galeria" data-offset="0" class="scroll-link">Galeria</a>
                                    </li>
                                    <li>
                                        <a href="#contact" data-offset="8" class="scroll-link">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End -->
           
            <!-- Main -->
            {% block content %}{% endblock %}
            <!-- /Main -->
            
           <!-- Footer -->
            <footer class="footer">
                <div class="footer-top two-columns-on-tablet">
                    <div class="row flex">
                        <div class="column width-3">
                            <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13130.182143944878!2d-58.42875065!3d-34.64092325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78eee663500e70af!2sEco%20Alsina!5e0!3m2!1ses-419!2sar!4v1584301346388!5m2!1ses-419!2sar" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
                        </div>
                        <div class="column width-3">
                            <div class="widget">
                                <a href="https://ecoalsina.com.ar/"><h4 class="widget-title">EcoAlsina.com.ar</h4></a>
                                <ul class="social-list list-horizontal no-margin-bottom">
                                    <li><a href="#"><span class="icon-youtube medium"></span></a></li>
                                    <li><a href="#"><span class="icon-facebook medium"></span></a></li>
                                    <li><a href="#"><span class="icon-instagram medium"></span></a></li>
                                </ul>
                                <p class="no-margin-bottom"><span class="icon-phone"></span> +54 (011) 39996569</p>
                                <p class="no-margin-bottom"><span class="icon-phone"></span>  +54 (011) 975226875</p>
                                <p class="no-margin-bottom"><span class="icon-email"></span><a href="mailto:#"> alsinamotos@gmail.com</a></p>
                                <p><span class="icon-location"></span> Av. José María Moreno 1293, C1424AAM, Buenos Aires, Argentina</p>
                            </div>
                        </div>
                        <div class="column width-3">
                            <div class="widget">
                                <h4 class="widget-title">Vehiculos Eléctricos</h4>
                                <ul class="row">
                                    <div class="column width-6">
                                        <li>
                                            <a href="#">Monopatines</a>
                                        </li>
                                        <li>
                                            <a href="#">Cictycoco</a>
                                        </li>
                                        <li>
                                            <a href="#">Triciclos</a>
                                        </li>
                                        <li>
                                            <a href="#">Bicicletas</a>
                                        </li>
                                        <li>
                                            <a href="#">Scooters</a>
                                        </li>
                                        <li>
                                            <a href="#">Calle</a>
                                        </li>
                                    </div>
                                    <div class="column width-6">
                                        <li>
                                            <a href="#">Posventa</a>
                                        </li>
                                        <li>
                                            <a href="#">Accesorios</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="column width-3">
                            <div class="widget">
                                <h4 class="widget-title">Marcas</h4>
                                <ul class="list-group large">
                                    <li>
                                        <span class="post-info"><span class="post-date">Monopatines</span></span>
                                        <a href="#">Kaabo</a> //
                                        <a href="#">Currus</a>
                                    </li>
                                    <li>
                                    </li>
                                    <li>
                                        <span class="post-info"><span class="post-date">Monociclos</span></span>
                                        <a href="#">Kingson</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
        </div> 
    </div> 
    <script src="{{ asset('bundles/front/landings/js/jquery-1.12.4.min.js')}}"></script> 
    <script src="{{ asset('bundles/front/landings/js/timber.master.min.js')}}"></script> 
</body> 
{% endblock %} 
{% block jssitio %}{% endblock %} 
{% block javascriptop %}

{% endblock %}

