<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <html lang="es">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <link rel="manifest" href="{{asset('bundles/front/images/favicon/manifest.json')}}">
        <meta name="robots" content="index,follow">
        <meta name="description" content="Monopatines electricos">
        <title>{% block title %}Eco Alsina | Vehículos Eléctricos{% endblock %}</title>
      
        {% block stylesheets %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,600,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/120e050a8a.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">


        <link rel="apple-touch-icon" sizes="57x57" href="{{asset('bundles/front/images/favicon/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{asset('bundles/front/images/favicon/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{asset('bundles/front/images/favicon/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset('bundles/front/images/favicon/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{asset('bundles/front/images/favicon/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{asset('bundles/front/images/favicon/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{asset('bundles/front/images/favicon/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{asset('bundles/front/images/favicon/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/front/images/favicon/apple-icon-180x180.png')}}">
        <link rel="icon" type="images/png" sizes="192x192"  href="{{asset('bundles/front/images/favicon/android-icon-192x192.png')}}">
        <meta name="msapplication-TileColor" content="transparent">
        <meta name="msapplication-TileImage" content="{{asset('bundles/front/images/favicon/ms-icon-144x144.png')}}">
        <meta name="theme-color" content="transparent">
        <link rel="icon" type="img/ico" href="{{ asset('bundles/front/images/favicon/favicon-16x16.png')}}">
        <!-- CARDS FACEBOOK -->
        <!-- <meta property="fb:app_id" content="175123323152642" /> -->
        <meta property="og:locale" content="es_LA" />
        <!-- <meta property="article:author" content="https://www.facebook.com/CanalNetAr/" /> -->
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />
        <!-- <meta property="fb:pages" content="243783102854606" /> -->
        <meta property="og:image:width" content="740" />
        <meta property="og:image:height" content="430" />
        <meta property="og:title" content="Dodo Digital | Marketing Digital" />
        <meta property="og:description" content="Ayudamos a aumentar tus ventas, darte a conocer o conseguir clientes potenciales" />
        <meta property="og:url" content='http://www.dododigital.com.ar' />
        <meta property="og:site_name" content='Dodo Digital | Marketing Digital' />

        <script type="application/ld+json">
            {
                "@context" : "http://schema.org",
                "@type" : "Organization",
                "name" : "Eco Alsina",
                "description" : "Monopatines electricos",
                "url" : "https://www.ecoalsina.com.ar",
                "logo": {
                        "@type": "ImageObject",
                        "url": "",
                        "width": 92,
                        "height": 38
                    }
               
            }
        </script>
          <!-- Código de instalación Cliengo para https://ecoalsina.com.ar/ --> 
        <script type="text/javascript">
            (function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/5dc0aa26e4b098bcbfa8bd45/5efa08b979005d002a81b781.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146783891-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-146783891-1');
          gtag('config', 'AW-619004684');
        </script>
        {% if app.request.attributes.get('_route') == 'app_homepage' and app.request.get('send') == "1" %}
            <!-- Event snippet for Clientes potenciales - Landing conversion page --> 
             <script> gtag('event', 'conversion', {'send_to': 'AW-619004684/9ufVCI_n0dUBEIyGlacC'}); </script> 
        {% endif %}
        {% if app.request.attributes.get('_route') == 'app_contacto_validate' and app.request.get('val') == "ok" %}
             <script> gtag('event', 'conversion', {'send_to': 'AW-619004684/9ufVCI_n0dUBEIyGlacC'}); </script> 
        {% endif %}
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '608238326784952');
          fbq('track', 'PageView');
        </script>
        <noscript>
          <img height="1" width="1" style="display:none" 
               src="https://www.facebook.com/tr?id={your-pixel-id-goes-here}&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->

        {% block schema %}{% endblock %}
        {% block jssitio %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
        <script>
        $(function() {
            $("img.lazy").lazyload({effect : "fadeIn"});
        });
        </script>
        {% endblock %}
        {% block javascriptop %}{% endblock %}
        <!-- analytcis -->
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascriptbottom %}{% endblock %}
    </body>
</html>
