/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@font-face {
    font-family: 'neonbold';
    font-display: sans-serif;
    src: url('../webfonts/hellodenverdisplaybold_v1.6.eot');
    src: url('../webfonts/hellodenverdisplaybold_v1.6.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/hellodenverdisplaybold_v1.6.woff') format('woff'),
         url('../webfonts/hellodenverdisplaybold_v1.6.ttf') format('truetype'),
         url('../webfonts/hellodenverdisplaybold_v1.6.svg#HELLODENVERDISPLAYBOLDBoldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'neon';
    font-display: sans-serif;
    src: url('../webfonts/hellodenverdisplayregular_v1.6.eot');
    src: url('../webfonts/hellodenverdisplayregular_v1.6.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/hellodenverdisplayregular_v1.6.woff') format('woff'),
         url('../webfonts/hellodenverdisplayregular_v1.6.ttf') format('truetype'),
         url('../webfonts/hellodenverdisplayregular_v1.6.svg#HELLODENVERDISPLAYREGULARRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Josefin Sans';
    font-display: sans-serif;
    src: url('../webfonts/neontubes2-webfont.woff2') format('woff2'),
         url('../webfonts/neontubes2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Montserrat', sans-serif;
	font-display: sans-serif;
 }
 @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
.redes{
	    margin-top: -30px;
    text-align: left;
    margin-bottom: 20px;
    z-index: 99999999;
}
.redes a{
	color:white;
	font-size: 24px;
	padding:0 14px;
}
.redes a:nth-child(1){
	padding-left: 5px;
}
.redes a:nth-child(1):hover{
	color:#125688;
}
.redes a:nth-child(2):hover{
	color:#3A5795;
}
.redes a:nth-child(3):hover{
	color:#CC181E;
}


.relatedTitle a{
	color:inherit;
	border-bottom: 1px solid;
}
.relatedTitle a:hover{
	color:inherit;
}
#etalage .etalage_thumb{
	width: 100%;
}
#etalage .etalage_thumb object{
	width: 100%;
	margin:0;
	padding: 0;
	display: inline;
	vertical-align: bottom;
    max-width: none;
    height: 400px;
}
.fichaa{
    font-size: .9em;
    font-weight: lighter;
    color:black;
}
.fichaa i{
	padding-right: 3px;
    font-size: .87em;
    color: gray;
}
.fichaa:hover{
	color: inherit;
}
.details-left-info{
	margin-bottom: 17px;
}
.ficha .rowList{
    overflow: hidden;
	border-bottom: 1px solid #cecece;
	padding: 10px 0;
}
.ficha .rowList:nth-child(even){
	background: #F3F3F3;
}

.ficha .rowList .data{
	/*border-bottom: 1px solid gray;*/
	/*padding: 10px 0;*/
	/*margin-left: 15px;*/
}
.ficha .rowList .titles{
	font-weight: bold;
	/*border-bottom: 1px solid gray;*/
	/*padding: 10px 0;*/
}
#posventa .sec{
	padding:60px 0;
}
#posventa .serTec:before{
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: absolute;
	top:0;
	left: 0;
}
#posventa .serTec{
	position: relative;
	/*background: url(../images/servtec.jpg);*/
    background-size: cover;
    background-position: 0 -800px;
    background-repeat: no-repeat;
    color: white;
}
#posventa .serTec h2{
	padding-top:20px;
	font-family: 'Josefin Sans';
	text-transform: 	uppercase;	
	font-display: sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: white;
}
#posventa .serTec .contact{
	background: rgb(255 0 144 / 68%);
    color: white;
    padding: 10px;
    /*border-radius: 9px;*/
    font-size: 1.4em;
    font-weight: 500;
    float: left;
    transition: .6s all;
}
#posventa .serTec .contact:hover{
	background: white;
	color:#ff0090;
}
#posventa .serTec p{
	font-size: 1.2em;
	padding:20px 0;
}
#posventa .serTec .icons{
	padding: 0 20	px;
}
#posventa .serTec .icons p{
	float: left;
	text-align: center;
}
#posventa .serTec .icons p img{
	float: left;
    width: 80px;
    padding: 15px;
    background: black;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-size: 2em;
    color: white;
}

#posventa .serTec .icons p:nth-child(2) span{
	font-weight: 500;
}
#posventa .serTec .icons p:nth-child(3) span{
	font-weight: 400;
}
#posventa .serTec .icons p span{
    float: left;
    padding: 12px 15px;
    font-size: 1.7em;
    line-height: 	57px;
    /*color:gray;*/
}
#posventa .comentarios{
	padding: 40px 0;
	/*background: black;*/
	/*color:white;*/
	/*box-shadow:0 0px 9px rgba(0, 0, 0, 0.22)*/
}
#posventa .comentarios .text{
	/*text-align: center;*/
	font-family: 'Josefin Sans';
    font-size: 30px;
    letter-spacing: normal;

}
#posventa .comentarios .text .sub{
	/*font-weight: lighter;*/
	margin-top:0;
	font-size: .8em;
	font-weight: 	300;
}
#posventa .comentarios .text .sub b{
font-weight: bolder;
    color: #ff0090;
}
#posventa .comentarios .text p{
	    font-size: 40px;
	    margin-top:20px;
    letter-spacing: -2px;
}
#posventa .comentarios .text span{
	font-size: 43px;
	font-weight: bolder;
	/*color:#FF0090;*/

}
#posventa .indumentaria .indu .cta{
    padding: 11px;
    /*border-radius: 8px;*/
    background: #FF0090;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    float: left;
    width: 130px;
    text-align: center;
}
#posventa .indumentaria .indu{
	padding:0 40px;
}
#posventa .indumentaria .indu h2{
	font-size: 2.7em;
    font-family: 'Josefin Sans';
    font-display: sans-serif;
    color: #FF0090;
}
#posventa .indumentaria .indu p{
	font-size: 1.4em;
    padding: 15px 0;
}

.top-nav  .dropdown1:nth-child(3) a{
	text-shadow: 0 0 7px #FF0090;
	font-weight: bold;
    -webkit-animation: opacity-change .8s infinite;
    -moz-animation: opacity-change .8s infinite;
    -o-animation: opacity-change .8s infinite;
    -ms-animation: opacity-change .8s infinite;
    animation: opacity-change .8s infinite;

}

.fixedWp{
	position: fixed;
	bottom:25px;
	right: 30px;
	font-size: 2em !important;
    background: #25D366;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    z-index: 9999999999;
    line-height: 59px !important;
    text-align: center;
    color: white;
    /*box-shadow: 0 0 11px #bcbcbc;*/
    -webkit-animation: all .2s;
    -o-animation: all .2s;
    animation: all .2s;
    border: 2px solid white;
    opacity: .8;
}
.fixedWp:hover{
    opacity: 1;
    background: white;
    color: #25D366;
}
/*----*/
/*.banner-bg1{
	background:url(../images/banner2.jpg) no-repeat 0 0;
	background-size:cover;
	min-height:755px;
}*/
.banner-bg{
	background-size:cover;
	min-height:755px;
}
.banner-bg:before{
	content:"";
    width: 100%;
    height: 100%;
    background: black;
    opacity: .65;
    min-height: 755px;
    position: absolute;

}
/*.banner-bg2 {
	background:url(../images/banner3.jpg) no-repeat;
	background-size:cover;
	min-height:835px;
}
.banner-bg3 {
	background:url(../images/banner2.jpg) no-repeat;
	background-size:cover;
	min-height:835px;
}*/
a.shop{
	display:inline-block;
	float:left;
	margin:9px 0 0 30px;
}
.banner-bg{
	position:relative;
}
.dwn{
	position:absolute;
	bottom:4%;
	left:47%;
}
.caption{
	width: 100%;
	position: absolute;
	top: 39%;
	left: 0%;
	text-align:center;
}
.header{
	/*margin-top:.8em;*/
	position: absolute;
    z-index: 800;
    width: 100%;
    padding: 0 10%;
}
.logo{
	float:left;
	/*position: absolute;*/
}
.logo a {
  display: inline-block;
}
.logo img {
	width:150px;
}
.top-nav{
	float:right;
	margin-top: 10px;
}
 .slider {
	position: relative;
	height: 755px;
    display: block;
    clear: both;
    overflow: hidden;
	text-align: center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li img, .rslides li video{
	width: 100%;
	height: 755px;
	object-fit: cover;
	/*margin-bottom: 20px;*/
  }
.rslides h3{
	color:#fff;
	font-size:2.4em;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative|;
  display: block;
  float: left;
}
.callbacks_container{
	height: 755px;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 29px;
	z-index: 999;
	left: 46%;
	display:none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left:20px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 69px;
  width: 77px;
  background: transparent url("../images/slid.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 25px;
 }
 .caption h1{
	font-size:3.5em;
	font-weight:500;
	color:#fff;
	margin-bottom:8px;
}
.caption p{
	color:#fff;
	font-size:2em;
	font-weight:300;
	margin-bottom:1em;
}
.caption p span{
	color:#66FF33;	
}
.neon-text {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-display: sans-serif;
  font-size: 6em;
  color: white;
   -webkit-animation: color-changes .4s infinite;
    -moz-animation: color-changes .4s infinite;
    -o-animation: color-changes .4s infinite;
    -ms-animation: color-changes .4s infinite;
    animation: color-changes .4s infinite;
}

@-webkit-keyframes color-changes {
    0% { text-shadow:0 0 20px white; }
    50% { text-shadow:0 0 20px yellow; }
    75% { text-shadow:0 0 20px #FF0090; }
    100% { text-shadow:0 0 20px #0080FF; }
}
@-moz-keyframes color-changes {
    0% { text-shadow:0 0 20px white; }
    50% { text-shadow:0 0 20px yellow; }
    75% { text-shadow:0 0 20px #FF0090; }
    100% { text-shadow:0 0 20px #0080FF; }
}
@-ms-keyframes color-changes {
    0% { text-shadow:0 0 20px white; }
    50% { text-shadow:0 0 20px yellow; }
    75% { text-shadow:0 0 20px #FF0090; }
    100% { text-shadow:0 0 20px #0080FF; }
}
@-o-keyframes color-changes {
    0% { text-shadow:0 0 20px white; }
    50% { text-shadow:0 0 20px yellow; }
    75% { text-shadow:0 0 20px #FF0090; }
    100% { text-shadow:0 0 20px #0080FF; }
}
@keyframes color-changes {
    0% { text-shadow:0 0 20px white; }
    50% { text-shadow:0 0 20px yellow; }
    75% { text-shadow:0 0 20px #FF0090; }
    100% { text-shadow:0 0 20px #0080FF; }
}

a.morebtn{
	background:rgba(0, 0, 0, .5);
	padding:1em 2.3em;
	font-size:0.875em;
	text-transform:uppercase;
	color:white;
	display:inline-block;
	margin:0 auto;
	border-radius:9px;
	border-bottom: 1px solid white;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
a.morebtn:hover{
	background:white;
	color:gray;
}

.categoriesV{
	position: absolute;
    z-index: 800;
    width: 100%;
    padding: 0 10%;
    bottom: 40px;
}
.categoriesV .boxcategory{
	cursor: pointer;
	text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-display: sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
   	height: 150px;
	/*transition: all 1s;*/
}
.categoriesV .boxcategory p{
   	border-bottom: 2px solid white;
}
.headerLayout .categoriesV .boxcategory p{
	   transition:0.5s all;
	border-bottom: none;
}
.headerLayout .categoriesV .boxcategory:hover p{
	font-size: inherit;
	text-shadow: none;

}
.headerLayout .categoriesV .boxcategory.active .color{
	background: rgb(255 0 144 / 68%) !important;
}
.headerLayout .categoriesV .boxcategory .color:hover{
	background: #ff0090;
	   transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;

}
.categoriesV .boxcategory:hover p{
	   transition:0.5s all;
	font-size: 1.1em;
}
.categoriesV .boxcategory:last-child p{
	/*font-weight: bold;*/

}

@-webkit-keyframes opacity-change {
    0% { opacity:  0; }
    100% { opacity:  1; }
}
@-moz-keyframes opacity-change {
    0% { opacity:  0; }
    100% { opacity:  1; }
}
@-ms-keyframes opacity-change {
    0% { opacity:  0; }
    100% { opacity:  1; }
}
@-o-keyframes opacity-change {
    0% { opacity:  0; }
    100% { opacity:  1; }
}
@keyframes opacity-change {
    0% { opacity:  0; }
    100% { opacity:  1; }
}
.color{
	/*background: #fcff19;*/
	padding: 15px;

}
.headerLayout .color{
	background: #0000007a;
    padding: 15px;
    border-radius: 27px;	
    -webkit-animation: all .8s ;
    -moz-animation: all .8s ;
    -o-animation: all .8s ;
    -ms-animation: all .8s ;
    animation: all .8s ;
}
.categoriesV .boxcategory:hover img{
	transition: all .4s;
	width:60%;
}
.categoriesV .boxcategory img{
	width: 40%;
    padding-bottom: 10px;
}
.headerLayout .categoriesV .boxcategory:hover img{
	width: 40%;
}

/*--categories--*/
.categories{
	background:url(../images/cate.jpg) no-repeat;
	background-size:cover;
	min-height:600px;
	text-align:center;
	padding:5em 0; 
}
.categories h3,.bikes h3{
	 color:#000;
	 font-size:2em;
	 font-weight:600;
}
.bikes h3{
	text-align:center;
}
.categorie-grids {
	 margin-top:4em;
}
.cate-grid{	
	padding:10em 0 0 0; 
	min-height:290px;
	background-size: 100%;
	margin:0 12px;
	width:31%;
}
.grid1{
	background:url(../images/c1.jpg) no-repeat;
}
.grid2{
	background:url(../images/c2.jpg) no-repeat;
}
.grid3{
	background:url(../images/c3.jpg) no-repeat;
}
.cate-grid h4{
	color:#fcff19;
	font-size:1.1em;
	font-weight:600;
	letter-spacing:1px;
	margin-bottom:6px;
} 
.cate-grid p{
	color:#fff;
	font-size:1.3em;
	font-weight:200;
}
a.store{
	color:#fff;
	font-size:0.9em;
	border:3px solid #fff;
	border-radius:7px;
	font-weight:500;
	display:inline-block;
	padding:0.7em 1.4em;
	margin-top:1.5em;
}
a.store:hover{
	border:2px solid #fcff19;
	color:#fcff19;
}
/*--bikes--*/
.bikes{
	padding:6em 0 2em 0;
}
.nota:hover{
	box-shadow: 0 0 10px #0080FF;
	/*background: #0080FF;*/
	/*color:#0080FF;*/
	/*border: 2px solid #0080FF;*/

}
.nota img{
	height: 220px;
    object-fit: cover;
}
.nota{
	box-sizing: border-box;
	overflow: hidden;
	cursor:pointer;
	margin-bottom: 30px;
	background: #343434;
	color: white;
	display: block;
	text-align: center;
	height: 390px;
}
.nota img{
	width: 100%;
	margin-bottom: 15px;
}
.nota .title{
	padding: 0 15px;
    font-size: 1.3em;
    line-height: initial;
    font-weight: bold;
}
.nota p{
	font-size:13px;
	padding: 10px 15px;
}
.blog > h3 > b{
    padding-left: 10px;
    font-family: 'neon';
    font-display: sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color: #0080ff;
    text-shadow: 0 0 5px;
}
.blog>h3{
	color: white;
    margin-bottom: 35px !important;
}
.blog{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
	background: url('../images/background.jpg');
}
.blog > a{
	background: #0080FF !important;
}

.notice{
	margin-top: 20px;
	margin-bottom: 50px;
}
.notice .breadCumb a{
	font-size:14px;
	padding-right: 6px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #0080FF;
	font-weight: bolder;
}

.notice .date{
	font-size:13px;
	color:gray;
}

.notice .titulo{
	font-weight: bolder;
	font-size: 3.5em;
	padding-top: 10px;

}

.notice .imgprinc img{
	width: 60%;
	height: auto;
}
.notice .cuerpo img, .notice .cuerpo iframe {
	padding:15px;
	width: 100%;
    height: auto;
}
.notice .cuerpo{
	margin:15px 0;
}
.notice .bajada{
	padding:15px 0;
}
.notice .tags a i{
	padding: 3px;
	color:#0080FF;
}
.notice .tags {
	padding-top: 15px;
}
.notice .relatedTitle {
	float: left;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
}
.notice .tags a{
	border-radius: 5px;
	background: black;
	color:white;
	font-size:11px;
	padding:5px 10px;
	float: left;
	margin-right: 10px;
}

.blogCont h1 b{
   padding-left: 10px;
    font-family: 'Josefin Sans';
    font-display: sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #0080ff;
    text-shadow: 0 0 2px;
    font-weight: bold;
}
.blogCont >h1{
    margin-top: 25px;
    color: black;
    font-weight: 300;
    /*margin-bottom: 35px !important;*/
    text-align: center;
}
.blogCont .slogan{
	    text-align: center;
    width: 80%;
    margin: 15px auto 35px;
    font-size: 18px;
    font-weight: 300;
}
.blogCont .imgPrin img, .blogCont .imgPrin object{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.blogCont .item .info:hover{
	color:black;
}
.blogCont .item:hover{
	/*box-shadow: 0 0 5px #0080FF;*/
	box-shadow: 0 0 5px black;
}

.blogCont .item .info span{
	color:#0080ff ;
}
.blogCont .item .info{
	overflow: hidden;
    float: left;
    color:black;
    width: 100%;
    padding: 10px 15px;

}
.blogCont .item h4{
    padding: 7px 0;
    font-size: 2em;
    font-weight: bold;
}
.blogCont .item .date{
	    font-size: 12px;
    color: gray !important;
}
.blogCont .item{
    float: left;
    color: white;
    transition: all .8s;
    /*background: black;*/
    color:black;
    width: 100%;
    /*border: 1px solid black;*/
	box-shadow: 0 0 5px gray;
    margin-bottom: 30px;
}

.bikes-grids{
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
	position: relative;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	position: relative;
	cursor: 	poiner;
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	transition: all .5s;
}
.nbs-flexisel-item:hover a img {
	opacity: .6;
}
.nbs-flexisel-item a {
	cursor: pointer;
	overflow: hidden;	
}
.nbs-flexisel-item a > img {	
	transition: all .5s;
	cursor:auto;
	opacity: 1;
	position: relative;
	  width: 90%;
  margin: 0 5%;
}
.bike-info{
	margin-top: 15px;
    margin: 0 5%;
    padding: 15px 0;
    background: white;
}
.model{
	position: static;
	float:left;
	width:50%;
	text-align:left;
}
.model h4{
	color:black;
	font-size:1em;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	font-display: sans-serif;
}
.model h4 span{
	color:gray;
	display:block;
	margin-top:5px;
	font-size:0.95em;
	font-weight:300;
}
.model-info{
	float:left;
	width:50%;
}
.model-info img{
	width: 32%;
    padding: 5px 4px;
	float: right;
	display: inline-block;
	line-height: 50px;
}
select{
	padding:10px 2.5em 10px 0.5em;
	border-radius:5px;
	margin-right:5px;
	outline:none;
	cursor:pointer;
}
.model-info a{
	color:#fff;
	font-size:0.9em;
	font-weight:500;
	padding:1em 2.5em;
	border-radius:5px;
	background:#b7b7b7;
}
.model-info a:hover{
	background:#000;
	color:#fcff19;
}
.viw{
	position: absolute;
  background: #66FF33;
  padding: 1.3em 2.5em;
  font-size: 1em;
  margin-right: 1em;
  font-weight: 500;
  top: 33%;
  left: 25%;
  display: none;
}


.mostsale .viw {
  background: #FF0090;
}
.mostsale .viw a{
	color:white;
}
.viw a{
	color:black;
}
.nbs-flexisel-item{
	position:relative;
}
.nbs-flexisel-item:hover div.viw{
	display:block;
}
.nbs-flexisel-item:hover span{
	color:black;
}

/*--contact--*/
.contacto .title h1{
	padding: 15px 0;
    font-family: 'Josefin Sans';
    font-display: sans-serif;
    color: #ff0090;
    /* text-shadow: 0 0 4px grey; */
    text-transform: uppercase;
    margin-top: 30px;

}
.contacto .contt{
	border-left: 2px dotted #ff0090;

}
.contacto .form-control{
	    border: none;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    margin:15px 0;
}
#contact-form{
	margin-bottom: 40px;
}
.contacto .contactSbm input{
	border-radius: 	0;
	margin-top: 10px;
	color:white;
	border:none;
}
.contacto .contactSbm input:hover{
	background: #ff0090;
	color:white;
}
.contacto .title2 {
	padding-top: 20px;
}
.contacto .title2 a{
	font-size: 	1.1em;
	display: 	block;
	padding:15px 0;
}
.contacto .title2 a:hover span{
	color:#ff0090;
}
.contacto .title2 a span{
	font-size:25px;
	color:black;
	padding-right: 10px;
}
.contacto .title2 a:hover{
	color:inherit;
}
.contact{
	background:url(../images/contact.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding: 0;
	background: rgba(0, 0 ,0, .5)
}
.contact .container{
	padding-top: 25px;
}
.contact img{
    object-fit: cover;
	position: absolute;
    z-index: -9999999;
    width: 100%;
    left: 0;
    max-height: 520px;
}
.contact h3{
	padding-top: 25px;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat';
    font-display: sans-serif;
    margin-bottom: 0.7em;
    border-bottom: 1px solid white;
}
.contact .leftCont a:hover{
	color: #ff0090 !important;
    font-size: 1.7em;
}
.contact .leftCont a{
	animation: all .4s;
   	color: #fff;
    font-size: 1.6em;
    /*font-weight: 600;*/
    font-family: 'Montserrat';
    font-display: sans-serif;
    padding: 10px 0;
    display: block;
}
.contact p{
    color: #fff;
    font-size: 1.6em;
    /*font-weight: 100;*/
    font-family: 'Montserrat';
    font-display: sans-serif;
    padding: 10px 0;
}
.contact .leftCont p:first-child{
	padding-bottom: 5px !important;
}
.contact .leftCont a span{
	font-size: 1.5em;
    padding-right: 10px;
}
.contact .rightCont iframe{
    width: 100%;
    padding: 50px 15px;
}

#contact-form input,#contact-form textarea{
	width: 100%;
}
.contact form{	
	width:43%;
	margin:3em auto 0 auto;
}
.contact form input[type="text"], .contact textarea {
  width: 43%;
  margin-right: 4%;
  padding: 10px;
  border: 1px solid #b7b7b7;
  font-size: 1em;
  margin-bottom: 2em;
  font-style:italic;
  color: #000;
  background: #fff;
  outline: none;
  font-weight: 400;
  border-radius:7px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
.contact form input[type="text"].user,.contact textarea {
	width:90%;
	resize:none;
}
.contact textarea {
	height:170px;
}
.contact form input[type="submit"] {
  color: #fff;
  background: #b7b7b7;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  border: none;  
  width:90%;
  margin:0 auto;
  padding: 10px 30px;
  display: block;
  border-radius:7px;  
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
.contact form input[type="submit"]:hover{
	background:#000;
	color:#fcff19;
}
/*--footer--*/
.footer{
	background:#101010;
	padding:1.5em;
	color: white
}
.footer p{
	float: right;
	font-size:1em;
	font-weight:500;
	text-align: center;
	width: 100%;
	color:#ff0090;
	padding:0 1em;
}
.logo2{
	float:left;
}
.ftr-menu{
	float:right;
}
.ftr-menu ul li{
	display:inline-block;
	margin-top:0px;
}
.ftr-menu ul li a{
	display:block;
	text-decoration:none;
	font-size:1em;
	font-weight:500;
	color:#66FF33;
	padding:0 1em;
}

/*--bycycle--*/
.banner-sec{
	background:url(../images/bg.jpg) no-repeat;
	background-size:cover;
	min-height:200px;
}
.bikes{
	padding:2.5em 0;
}
.bikes h3{
	font-family: 'Montserrat', sans-serif;
	font-display: sans-serif;
	font-weight: 200;
	margin-bottom: 15px;
}
.bikes h3.dest{
    font-family: 'neon',sans-serif;
    font-display: sans-serif;
	font-size: 4em;
	color:#66FF33;
}
.bikes.mostsale{
	background: #f3f3f3;
}
.mostsale h3{
    padding-bottom: 15px;
    color: #FF0090;
    font-family: 'Josefin Sans';
    font-display: sans-serif;
    font-size: 4em;

}
 .mostsale > h3{
	font-weight: 700;
	padding-bottom: 15px;
    color: #FF0090;
}
.bikes .irt{
	text-align: center;
    margin: 0 auto;
    background: #66FF33;
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    width: 270px;
    color:black;
}
.blog .irt{
	color:white;
}
.mountain-sec,.singlespeed-sec{
	border-bottom:2px solid;
	padding:0 1.5em 2em 1.5em;  
}
.acces{
	float:left;
}
.bike{
	float:left;
	width:23%;
	position:relative;
	margin:0 1%;
	padding:1em 0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.fast-viw{
  display: none; 
  top: 30%;
  left: 28%;
  text-align: center;
    font-weight: 500;
  position: absolute;
}
.fast-viw a{
	color:yellow;
	background: #000;
  padding: 0.85em 2.5em;
  font-size: 1em;
  margin-right: 1em;
  display:block;
}
.bike:hover div.fast-viw{
	display:block;
}
.bike:hover{
	background:#fcff19;
}
.bike img{	
	width:100%;
}
.bikes h2{
	 color:#000;
	 font-size:2.5em;
	 font-weight:500;
	 margin-bottom:2em;
	 text-align:center;
}
.bike-cost{
	background:#b7b7b7;
	padding:10px 1em;
}
.bike-mdl{
	float:left;
	width:40%;
}
.bike-mdl h4{
	color:#000;
	font-size:1.2em;
	font-weight:500;
}
.bike-mdl h4 span{
	display:block;	
	font-weight:300;
	font-size:0.8em;
}
.bike-cart{
	float:left;
	width:60%;
	text-align:right;
}
.bike-cart a.buy{
	background:#777;
	color:#fff;
	font-size:1em;
	padding:0.5em 2em;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
	text-align: center;
}
.bike-cart a.buy:hover{
	background:#000;
}
.singlespeed-sec,.road-sec{
	margin-top:2em;
}
/*-parts-*/
.parts{
	padding:2em 0;
}
.parts h2{
	
    font-size: 3em;
    font-display: sans-serif;
    /* text-shadow: 0px 0px 2px #ff0090; */
    /* font-weight: 100; */
    border-left: 2px solid #000000;
    text-shadow: -1px 0 #ff0090, 0 1px #ff0090, 1px 0 #ff0090, 0 -1px #ff0090;
    /* font-family: sans; */
    color: white;
    padding-left: 15px;
    font-weight: 400;
    font-family: 'Montserrat';
}
.rsidebar {
	display: block;
	float: left;
	margin: 0% 3.5% 0% 0;
	width: 18%;
}
h3.m_2 {
	font-size: 1em;
	font-weight: 500;
	padding: 10px;
	background:#101010;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 1em;
}
.metro{
	position: relative;	
	cursor: pointer;
	font-weight:600;
	background:#fff;
	color:#898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro.open{
	z-index: 2;
}
.metro:hover,
.metro.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro .selected {
    color: #96a6a7;
}
.catBtn{
	cursor: pointer;
}
.catBtn.selected{
	color: #ff0090 !important;
	border-bottom: 1px solid #ff0090;
}
.catBtn:active, button:focus{
	border: none !important;
}
.metro .selected:hover, .catBtn:hover{
	font-size: 16px;
	color:#ff0090;
}
.metro .selected,
.metro li, .catBtn{
	animation: all .2s;
	display: block;
	background: none;
	border:none;
	padding: 8px 0px 8px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 13px;
	padding-left: 6px;
	font-weight: 400;
	color: #555555;
	width: 100%;
}
.product_right {
margin-bottom: 2em;
}
/* .focus class is also added on hover */
.metro:hover .selected::after, .metro.focus .selected::after {
  background: url(../images/p_minus.png) no-repeat 0px 10px;
}
.metro li:hover{
	background-color:#ECEB4D;
}
.metro li:hover{
	background-color:#ECEB4D;
}
.metro li.focus{
	background:#ECEB4D;
	position: relative;
	z-index: 3;
	color:#000;
}
.metro li.active{
    background-color:#ECEB4D;
	color: #000;
}
.metro .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding:6px;
	background:url(../images/p_plus.png) no-repeat 0px 10px;
}
.metro:hover .selected::after,
.metro.focus .selected::after{
	background:url(../images/p_minus.png) no-repeat 0px 10px;
}
/* DROP DOWN WRAPPER */
.metro div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.metro.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.metro ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
	background:#000;
}
.metro.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro li{
	list-style: none;
	padding: 6px 10px;
	font-size: 1em;
	font-weight: 400;
	text-transform: lowercase;
	color: #fff;
}
.metro li:last-child {
    border-bottom: 0;
}
.checkbox i {
  position: absolute;
  bottom: 255px;
  left: 14.9%;
  display: block;
  width: 20px;
  height: 20px;
  outline: none;
  border: 2px solid #D2CF99;
}
.checkbox{
	margin-top:0;
}
/*--bike-parts--*/
.bike-parts-sec{
	margin-top:25px;
}
.bike-parts{
	float:right;
	width:78%;
}
.top{
	background:#eee;
	padding:0.5em 1em;
}
.top ul li{
	display:inline-block;
}
.top ul li a{
	color:#000;
	font-size:0.9em;
	text-decoration:none;
}
.part-sec a:hover{
	border-bottom:1.5px solid #ff0090;

}
.part-sec a:hover > img{
	opacity: .4;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
.parts1 a{
	float: left;
	transition:0.5s all ease;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-o-transition:0.5s all ease;
	-ms-transition:0.5s all ease;

}
.part-sec .part-info .benef img{
	height:  24px;
	width: auto;
	padding-left: 10px;
	position: relative;
	
}
/*.part-sec .part-info .benef img[attribute=title]{
	content: attr(title);
  	position: absolute;
  	top: 0;
  	color:red;
  	left: 0;
}*/
.tooltip {  
  position: relative;
  cursor: pointer;
  opacity: 1;
}

.tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  display: block;
}



.part-sec .part-info i{
	float: right;
	color: gray;
	animation: all 1s;
    font-size: 1.5em;
    padding-left: 10px;

}
.part-sec a{
	float:left;
	/*width:21%;*/
	/*margin:0 2%;*/
	border-bottom:1.5px solid;
	/*padding-bottom:1.5em;*/
	text-align:center;
	position:relative; 
	margin-bottom: 20px;
	box-shadow: 0 0 6px gray;
	height: 300px;
}
.part-sec .part-info{
	padding: 15px;
	overflow: hidden;
}
.part-sec .part-info img{
	width: 40px;
	height: auto;
	float: right;
}
.part-sec:hover div a.add-cart{
	display:block;
}
.part-sec img{
	width:100%;
	height: 200px;
	object-fit: cover;
}
.part-sec img.bottle{
	width:50%;
}
.part-sec a h5{
	color:#000;
	font-size:1.1em;
	/*font-weight:600;*/
	margin-bottom:1em;
	text-align: left;
	display: block;
	margin-bottom: 3px;
}
.part-sec:hover .price{
	color:black;
}
.part-sec a .price .promo .text {
	position: absolute;
	top: 23px;
	right: 0;
	font-weight: bold;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.nbs-flexisel-item .promo .text{
	position: absolute;
	top: 31px;
    right: 15px;
	font-weight: bold;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.part-sec a .price .promo:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 10px;
	border-color: transparent #fcff19 transparent transparent;  
}
.nbs-flexisel-item .price .promo:before{
	content: "";
	position: absolute;
	top: 0;
	right: 15px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 10px;
	border-color: transparent #fcff19 transparent transparent;  
}
.part-sec a .benef	{
	float: left;
    width: 94%;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    bottom: 19px;
}
.part-sec a .price	{
	float: left;
	width: 40%;
	text-align: left;
	margin-bottom: 10px;
}
.part-sec a .price span, .nbs-flexisel-item .price span	{
	display: inline-block;
	font-size:1em;
	font-weight:400;
	margin-top:5px;
}
.part-sec a .price span.ant, .nbs-flexisel-item .price span.ant{
	display: inline-block;
	text-decoration: line-through;
}
.part-sec a .price span.ofer, .nbs-flexisel-item .price span.ofer{
	font-weight: bold;
	font-size: 1.2em;
}
a.add-cart{
	background:#000;
	color:#fcff19;
	padding:5px 1em;
	font-size:1em;
	display:inline-block;
	margin-right:1em;
	font-weight:500;
	position:absolute;
	top: 36%;
    left: 21%;
	display:none;
}
a.add-cart:hover{
	
}
a.qck{
	background:#969696;
	color:#fff;
	padding:5px 1em;
	font-size:1em;
	font-weight:500;
	display:inline-block;
	text-decoration:none;
}
a.qck:hover{
	background:#fcff19;
	color:#000;
}
.parts2,.parts3,.parts4{
	margin-top:3em;
}
/*--404-page--*/
.error-head{
	text-align:center;
	margin:8em 0;
}
.error-head h1{	
	color:#707070;
	font-size:16em;
	display:inline-block;
	line-height:1em;
	font-weight:400;
}
.error-head span{
	color:#707070;
	font-size:4em;
	margin-left:0.5em;
}
.error-head h2{
	font-size:2em;
	color:#000;
	margin-top:1em;
}
.error-head  a {
	background:#707070;
	padding: 8px 1em;
	font-size: 1.3em;
	margin-top: 2em;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-weight: 400;
	border:2px solid #707070;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.error-head  a:hover {
	text-decoration: none;
	background:transparent;
	border:2px solid #707070;
	color: #707070;
}
/*----*/
.product-head {
padding: 0.5em 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
margin-bottom: 1em;
background: #292929;
color: #5bc715;
padding: 5px 15px;
}
.product-head  a:first-child {
	color:white;
	font-weight: lighter;
}
.product-head  a {
color: #66FF33;
font-weight: 700;
font-size: 0.875em;
padding-bottom: 0.2em;
display: inline-block;
text-transform: uppercase;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
}
.product-info h3{
float:left;
width:50%;
}
.product-info i{
float:left;
width:50%;
display:block;
}

.details-left-info {
	position: relative;
float: left;
margin-left: 5%;
width:58%;
}
.details-left-info .promo:before	{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 10px;
	border-color: transparent #fcff19 transparent transparent;  
}
.details-left-info .promo .text{
	position: absolute;
	top: 23px;
	right: 0;
	font-weight: bold;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.details-left-info .benef .tooltip {
	z-index: 1;
}
.details-left-info .benef .tooltip img {
	width: 50px;
    height: auto;
	margin-top: 15px;
}
.details-left-info  h3 {
color: #000;
font-size: 2.4em;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 0.3em;
}
.details-left-info p {
margin-top: 2%;
font-size: 1.8em;|
color:#424242;
line-height: 1.8em;
text-shadow: 0 1px 0 #ffffff;
letter-spacing: 1px;
}
.details-left-info p  label{
	font-size:0.7em;
}
.details-left-info  h4 {
color: #000;
font-weight:300;
font-size:0.85em;
margin-bottom: 1em;
}
.details-left-info a{
margin-left: 5px;
color: #555555;
text-transform: uppercase;
font-size: 13px;
-webkit-text-stroke: 0px;
letter-spacing: 0px;
}
.details-left-info a:hover{
	color:#ffd400;
}
.details-left-info #quantity {
	width: 50px;
	height: 37px;
	display: inline-block;
	margin: 15px 10px 0 0;
	padding: 9px 0px 8px;
	outline: none;
	text-align: center;
}
p.size{
	/*margin: 10px 10px 0 0;*/
	color:#333333;
	font-size:1.2em;
	font-weight:500;
	display:inline-block;
}
span.lenght{
	width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 5px -4px;
}
.btn_form{
margin-top:2em;
}
.btn_form a {
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background:rgb(150, 150, 150);
	border:1px solid rgb(150, 150, 150);
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form a:hover{
	background:transparent;
	border:1px solid #000;
	color:#000;
}
.bike-type{
	margin: 2em 0;
	padding: 10px 0 15px 0;
	border:1px solid #8F8F8F;
	border-width: 1px 0;
}
.bike-type p{
	font-size:1.1em;
	color:#787878;
	font-family: 'Montserrat', sans-serif;
	font-display: sans-serif;
	font-weight:400;
}
.bike-type a{
font-weight:400;
color: black;
}
p.desc{
font-size:0.9em;
line-height:1.8em;
color: #808080;
margin: 0.5em 0;
}
.details-left-info h5{
margin:1em 0;
}
.single-bottom2 {
margin-bottom: 2em;
}
.single-bottom1 h6, .single-bottom2 h6 {
background: #F3F3F3;
padding: 10px;
color: #333;
font-size: 1.2em;
}
.product {
padding: 3% 0 0 0;
}
.product-desc {
width: 82.3333%;
float: left;
border-width: 0 1px 0 0;
border-right: 1px solid #DDD;
}
.product-img {
float: left;
margin-right: 2.5%;
}
.prod1-desc {
width: 75.2%;
float: left;
margin-top: 1.5em;
}
.product_price {
width: 15.3333%;
float: left;
padding: 0 0px 0px 16px;
margin-top: 1.5em;
}
.product-desc h5 a {
color: #555;
font-size: 20px;
margin-bottom:1em;
display:block;
}
.product-desc h5 a:hover {
color: #64C4B8;
text-decoration:none;
}
.price-access {
color: #555;
font-size: 1em;
}
a.button1 {
border: none;
background:#64C4B8;
padding: 7px 15px;
color: #FFF;
font-size: 13px;
cursor: pointer;
outline: none;
margin-top: 9%;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.button1:hover{
background:#FF7105;
}
.single-bottom2 {
margin-bottom: 2em;
}
.single-bottom1 h6, .single-bottom2 h6 {
background: #F3F3F3;
padding: 10px;
color: #333;
font-size: 1.2em;
}
.product {
padding: 3% 0 0 0;
}
.product-desc {
width: 82.3333%;
float: left;
border-width: 0 1px 0 0;
border-right: 1px solid #DDD;
}
.product-img {
float: left;
margin-right: 2.5%;
  width: 22%;
}
.prod1-desc {
width: 75.2%;
float: left;
margin-top: 1.5em;
}
.product_price {
width: 15.3333%;
float: left;
padding: 0 0px 0px 16px;
margin-top: 1.5em;
}
.product-desc h5 a {
color: #555;
font-size: 20px;
margin-bottom:1em;
display:block;
}
.product-desc h5 a:hover {
color: #64C4B8;
text-decoration:none;
}
.price-access {
color: #555;
font-size: 1em;
}
/*--cart--*/
.cart{
	padding:2em 0;
}
.cart-top{
	background:#eee;
	padding:8px 1em;
}
.cart-top a{
	color:#000;
	font-size:1em;
	font-weight:400;
	text-decoration:none;
}
.cart-top a:hover{
	color:#D74D4D;
}
p.qty {
  margin: 15px 10px 0 0;
  color: #333333;
  font-size: 1em;
  display: inline-block;
}
.details-left-info #quantity {
  width: 50px;
  height: 37px;
  display: inline-block;
  margin: 15px 10px 0 0;
  padding: 9px 0px 8px;
  outline: none;
  text-align: center;
}
.form-control {
  display: inline-block;
  width: 13%;
}
.cart h2{
	font-size:1.5em;
	margin-bottom:1em;
}
.cart-items{
	padding-left:0;
	padding-top:1em;	
}
.cart-sec{
	background:#eee;
	padding:1em;
	margin-bottom:1em;
}
.cart-item{
	width:20%;
	float:left;
	margin-right:3%;
	padding: 1em 1em 0.6em 1em;
  background: #fff;
}
.cart-item img{
	width:100%;
}
.cart-item-info{
	width:77%;
	float:left;
	  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.cart-item-info h3{
	font-size:1em;
	font-weight:600;
}
.cart-item-info h3 span{
	display:block;
	font-weight:400;
	font-size:0.75em;
	margin-top:3px;
}
.cart-item-info h4{
	color:#000;
	font-size:1.8em;
	margin:0.5em 0;
	font-weight:500;
	display:inline-block;
	margin-right:3em;
}
.cart-item-info h4 span{
	font-size:0.65em;
	font-weight:400;
} 
.cart-item-info p{
	font-size:1em;
	font-weight:400;
	line-height:1.3em;
}
.close1,.close2{
  background: url('../images/close.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-header {  
  position: relative;  
}
.cart-header2 {  
  position: relative;  
}
.delivery{
	margin-left:13em;
}
.delivery p{
	color:#A6A6A6;
	font-size:1em;
	font-weight:400;
	float:left;
}
.delivery span{
	color:#A6A6A6;
	font-size:1em;
	font-weight:400;
	float:right;
}
a.continue{
	background:orange;
	padding:10px 1.5em;
	border-radius:7px;
	font-size:1em;
	color:#fff;
	text-decoration:none;
	display: block;
   font-weight: 600;  
   text-align: center;
   width: 72%;
   margin: 0px auto 3em auto;
}
a.continue:hover{
	background:#333;
}
.price-details{
	border-bottom:1px solid;
	padding-bottom:10px;
}
.price-details h3{
	color:#333;
	font-size:1em;
	margin-bottom:1em;
}
.price-details span{
	width:50%;
	float:left;
	padding:1px 0;
}
span.total{
	width:50%;
	float:left;
}
span.final{
	font-weight:600;
	padding-top:6px;
	font-size:1.3em;
}
h4.last-price{
	color:#000;
	font-size:1.3em;
	font-weight:600;
	width:50%;
	float:left;
	padding-top:10px;
}
.cart-total {
  padding-top: 26px;
  border-left: 1px solid;
}
a.order {
  background:#333;
  padding: 10px 1.5em;
  border-radius: 7px;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  width: 85%;
  margin: 3em auto 0 auto;
}
a.order:hover{
	background:orange;
}
.total-item{
	margin-top:2em;
	padding-bottom:2em;
}
.total-item h3 {
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
}
.total-item h4{
	font-size:0.8em;
	font-weight:600;
	color:#9C9C9C;
	display:inline-block;
	margin-right:6em;
}
a.cpns{
	background:#59B5E2;
	color:#fff;
	border-radius:6px;
	padding: 10px;
  font-size: 0.8em;
	font-weight:600;
}
a.cpns:hover{
	background: #20759F;
}
.total-item p{
	font-size:0.9em;
	font-weight:400;
	margin-top:1em;
	color:#727272;	
}
.total-item p a:hover{
	color:#333;
	text-decoration:underline;
}
label{

}
.layout .header{
	position: static !important;
	background: rgba(0,0,0,.5)
}
.layout .categoriesV{
	position: static !important;
	background: rgba(0,0,0,.5);
	overflow: hidden;
}
.headerLayout:before{
	content:"";
	background: rgba(0,0,0,.5);
	width: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.headerLayout{
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

/*--responsive--*/|
@media (max-width: 1440px){
.model {
  width: 45%;
}
.model-info {
  width: 55%;
}
.contact form input[type="submit"] {
  width: 89%;
  margin: 0 0 0 18px;
  padding: 11px 0px;
}
a.add-cart {  
  left: 24%;
}
}
@media (max-width: 1366px){
.top-nav {
  margin-top: 0;
}
}
@media (max-width: 1280px){
.model {
  width: 37%;
}
.model-info {
  width: 59%;
}
.banner-bg1{
  min-height: 660px;
}
.caption h1 {
  font-size: 3em;
}
.caption p {
  font-size: 1.8em;
}
.callbacks_nav {
  left: 20px;
    height: 48px;
  width: 49px;  
  background-size: 104px;
}
.bikes h2 {
  font-size: 2.2em;
}
}
@media (max-width: 1024px){
.banner-bg1{
  min-height: 570px;
}
.banner-sec {
  min-height: 146px;
}
.caption h1 {
  font-size: 2.75em;
}
.caption p {
  font-size: 1.5em;
} 
.dwn img {
  background-size: 100%;
  width: 59%;
}
.dwn {
  bottom: 6%;
  left: 48%;
}
.cate-grid p {
  font-size: 1.15em;
}
a.morebtn {
  padding: 0.85em 2.3em;
  font-size: 0.8em;
}
.cate-grid {
  padding: 7em 0 0 0;
  min-height: 273px;
  margin: 0px 15px;
  width: 30%;
}
.categories {
  min-height: 513px;
}
.model h4 {
  font-size: 0.85em;
}
.model h4 span {
  font-size: 0.9em;
}
.model {
  width: 30%;
}
select {
  padding: 6px 1em 6px 0.5em;
  margin-right: 5px;
  font-size: 0.95em;
}
.model-info a {
  font-size: 0.9em;
  padding: 0.7em 2em;
}
.model-info {
  width: 70%;
}
.contact form input[type="submit"] {
  margin: 0 0 0 14px;
}
.bikes {
  padding: 3em 0 2em 0; 
}
.bike-mdl {
  width: 61%;
}
.bike-cart {
  width: 39%;
}
.bike-cart a.buy {
  font-size: 0.85em;
  padding: 0.5em 2em
}
.bikes h2 {
  font-size: 1.8em;
}
.part-sec img {
  height: 154px;
  padding: 15px;
}
.parts h2 {
  font-size: 1.8em;
}
.error-head h1 {
  font-size: 13em;
}
.error-head span {
  font-size: 3em;
}
.cart-item-info h4 {
  font-size: 1.5em;
}
.delivery {
  margin-left: 11em;
}
.delivery p,.delivery span {
  font-size: 0.9em;
}
.cart-items {
  width: 71%;
}
.cart-total {
  width: 28%;
}
.cart h2 {
  font-size: 1.3em;
}
.viw {
  padding: 1.3em 2.5em;
  font-size: 0.9em;
  left: 30%;
}
.fast-viw {
  padding: 0.7em 2.2em;
  font-size: 0.9em;
  top: 23%;
  left:7%;
}
.bike {
  padding: 0.5em 0;
}
}
@media (max-width:768px){
.viw {
  padding: 1.3em 2.3em;
  font-size: 0.85em;
 left: 25%;
  top: 27%;
}
.bike-info {
  margin-top: 1em;
}
.top-nav {
  margin-top: 1px;
  width: 70%;
  position: absolute;
  right: 7px;
}
.rslides li:first-child {
  color:#000;
  padding:0;
  border-top-left-radius:0;
 border-top-right-radius:0;
}
.caption {
  z-index: 0;
}
a.shop {
  display: inline-block;
  float: left;
  margin: 0px 0 0 0px;
  background: #828282;
  width: 100%;
  padding: 8px;
}
.banner-bg1{
  min-height: 490px;
}
.caption h1 {
  font-size: 2.5em;
}
.cate-grid {
  padding: 6em 0 0 0;
  min-height: 223px;
  float: left;
  width: 29%;
}
.categories {
  padding:3em 0 0 0;
  min-height: 400px;
}
.categories h3, .bikes h3,.contact h3 {
  font-size: 1.7em;
}
.categorie-grids {
  margin-top: 2em;
}
.cate-grid p {
  font-size:0.85em;
}
.model {
  width: 100%;
}
.model-info {
  width: 100%;
  text-align: left;
  margin:5px 0;
}
.model h4 {
  font-size: 1em;
}
select {
    padding: 1px 1em 3px 0.5em;
  font-size: 0.8em;
}
.model-info a {
    font-size: 0.8em;
  padding: 0.4em 2em;
}
.bikes-grids {
  margin-top: 5em;
}
.contact p {
  font-size: 1.1em;
}
.contact {
  min-height: 550px;
  padding: 2em 0 0 0;
}
.contact form {
  width: 65%;
}
.wrap{
	width:724px;
	padding:0 15px;
}
.none1{
	display:none;
}
.bike {
  width: 31%;
}
.rsidebar {
  width: 25%;
}
.bike-parts {
  width: 71%;
}
.part-sec {
  /*width: 29%;*/
}
.part-sec img {
  height: 150px;
  padding: 13px;
}
.ftr-menu ul li a {
  font-size: 1em;
}
.cart-items {
  width: 100%;
}
.cart-total {
  width: 100%;
  border-left:none;
}
a.continue{
	width:30%;
}
a.order{
	width:40%;
}
a.add-cart {
  left: 18%;
  top: 28%;
}
.product-desc {
  width: 73%;
}
.product_price {
  width: 26%;
}
.prod1-desc p{
	overflow:hidden;
	height:83px;
}
.prod1-desc {
  width: 72%;
}
.grid.images_3_of_2 {
  width: 37%;
  float: left;
}
p.desc {
  overflow: hidden;
  height: 131px;
}
}
@media (max-width:640px){
.logo a img{
	background-size:100%;
	width:100%;
}
.logo{
	width:20%;
}
.top-nav {
  width: 57%;
  top: 32px;
}
.caption h1 {
  font-size: 2.2em;
  margin-bottom:2px;
}
.caption p {
  font-size: 1.2em;
}
a.morebtn {
  padding: 0.8em 2em;
  font-size: 0.73em;
}
.banner-bg1 {
  min-height: 435px;
}
.callbacks_nav {
  left: 8px;
  height: 36px;
  width: 38px;
  background-size: 76px;
  margin-top: -36px;
}
.callbacks_nav.next{
	right:8px;
}
a.shop img {
  background-size: 100%;
  width: 6%;
}
.cate-grid {
  padding: 4em 0 0 0;
  min-height: 166px;
  width: 28%;
}
.cate-grid h4 {
  font-size: 0.9em;
}
.cate-grid p {
  font-size: 0.7em;
}
a.store {
  font-size: 0.7em;
  border: 2px solid #fff;
  padding: 0.5em 1.2em;
}
.categories {
  min-height: 317px;
}
.categories h3, .bikes h3, .contact h3 {
  font-size: 1.4em;
}
.bikes-grids {
  margin-top: 4em;
}
.contact p {
  font-size: 0.95em;
}
.contact form input[type="text"], .contact textarea {
  padding: 7px;
  font-size: 0.85em;
}
.contact form {
  width: 70%;
}
.contact textarea {
  height: 127px;
}
.contact form input[type="submit"] {
  margin: 0 0 0 14px;
  font-size: 0.9em;
  padding: 9px 0px;
}
.contact {
  min-height: 470px;
}
.wrap {
  width: 600px;
}
.ftr-menu ul li a {
  font-size: 0.9em;
}
.banner-sec {
  min-height: 130px;
}
.bike-mdl {
  width: 100%;
  margin-bottom:5px;
  text-align: center;
}
.bike-mdl h4{
	font-size:1em;
}
.bike-cart {
  width: 100%; 
  text-align: center;
}
.bike-cart a.buy {
  font-size: 0.8em;
  padding: 0.5em 4em;
}
.bikes h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.bikes {
  padding: 2em 0 2em 0;
}
.parts1 {
  margin-top: 10px;
}
.part-sec img {
  height: 131px;
  padding: 12px;
}
.part-sec a h5 {
  font-size: 0.9em;
}
a.add-cart {
  left: 17%;
  font-size: 0.8em;
}
a.qck{
	font-size:0.9em;
}
.parts h2 {
  font-size: 1.5em;
}
.bike-parts-sec {
  margin-top: 2em;
}
.details-left-info {
  width: 51%;
}
p.desc {
  overflow: hidden;
  height: 110px;
}
.prod1-desc p{
	font-size:0.9em;
	overflow: hidden;
  height: 52px
}
.product-desc{
	width:70%;
}
.product_price{
	width:30%;
}
.prod1-desc {
  margin-top: 0.5em;
}
.product-desc h5 a {
  font-size: 17px;
  margin-bottom: 0.7em;
}
.btn_form a {
  font-size: 0.9em;
  padding: 8px 29px;
}
.fast-viw {
  padding: 0.6em 2em;
  font-size: 0.8em;
  top: 18%;
  left: 5%;
}
}
@media(max-width: 480px) {
.top-nav {
    top: 34px;
  right: 12px;
}
.logo {
  width: 26%;
}
.caption h1 {
  font-size: 1.8em;
  margin-bottom: 2px;
}
.caption p {
  font-size: 1.1em;
}
.callbacks_nav {
  height: 39px;
  width: 31px;
  background-size: 62px;
}
.banner-bg1 {
  min-height: 355px;
}
.dwn {
  bottom: 5%;
  left: 47%;
}
.dwn img {
  width: 47%;
}
.cate-grid {
  padding: 3.5em 0 0 0;
  min-height: 125px;
  width: 26%;
}
.cate-grid h4 {
  font-size: 0.7em;
  overflow: hidden;
  height: 12px;
}
.cate-grid p {
  display: none;
}
a.store {
  font-size: 0.65em;
  margin-top:0.3em;
}
.categories {
  min-height: 235px;
  padding:3em 0 0 0;
}
.categories h3, .bikes h3, .contact h3 {
  font-size: 1.3em;
}
.model,.model-info{
	text-align:center;
}
select {
  padding: 7px 2em 8px 1.5em;
  font-size: 0.9em;
}
.model-info a {
  padding: 0.7em 3em;
}
.contact p {
  font-size: 0.83em;
}
.contact form {
  width: 100%;
  margin: 2em auto 0 auto;
}
.contact {
  min-height: 455px;
}
.wrap {
  width: 420px;
}
.footer {
  text-align: center;
}
.logo2{
	margin-bottom:0.5em;
}
.logo2,.ftr-menu{
	float:none;
}
.bike-cart a.buy {
  padding: 0.5em 2em;
}
.mountain-sec, .singlespeed-sec {
  padding: 0 0em 2em 0em;
}
.bike-mdl h4 span{
	display:none;
}
.bike-mdl{
	margin-bottom:2px;
}
.bike-mdl h4 {
  font-size: 0.9em;
}
.bikes h2 {
  font-size: 1.3em;
}
.rsidebar {
  width: 100%;
}
.bike-parts {
  width: 100%;
}
.part-sec:nth-child(18){
	border-bottom:0;
}
.details-left-info {
  width: 100%;
  margin-left: 2%;
}
.details-left-info h3 {
  font-size: 1.1em;
}
.prod1-desc {
  width: 72%;
}
.product_price {
  width: 22%;
  margin-top: 0em;
    padding: 0 0px 0px 8px;
}
.button1 {
display:block;
}
.product-desc h5 a {
  font-size: 15px;
  margin-bottom: 0.5em;
}
.product_price {
  width: 25%
}
.bottom-line{
	border-bottom:0;
}
.parts h2 {
  font-size: 1.3em;
}
.error-head h1 {
  font-size: 10em;
}
.error-head span {
  font-size: 2.3em;
}
.error-head h2 {
  font-size: 1.5em;
}
.cart h2 {
  font-size: 1em;
}
.cart-item {
  width: 29%;
}
.cart-item-info {
  width: 66%;
}
.delivery {
  margin-left: 0em;
}
.cart-item-info h4 {
  font-size: 1.2em;
}
.cart-item-info h3 {
  font-size: 0.9em;
}
.delivery p, .delivery span {
  font-size: 0.8em;
  margin-top:5px;
}
.form-control {
  width: 22%;
}
.cyc {
  padding: 22px 9px;
}
a.continue {
  width: 43%;
  padding: 8px 1.5em;
  font-size: 0.9em;
}
.cart-total {
  padding-top: 9px;
}
h4.last-price,span.final {
  font-size: 1em;
}
a.order,.price-details span{
	font-size:0.9em;
}
.viw {
  padding: 1.5em 2.3em;
  left: 36%;
  top: 29%;
}
.contact form input[type="text"].user,.contact form input[type="submit"] {
  width: 100%;
    margin-bottom: 1.2em;
}
.contact form input[type="text"], .contact textarea{
  width: 100%;
  margin-right:0;
    margin-bottom: 1.2em;
}
.contact form input[type="submit"] {
margin:0;
}
.fast-viw {
  font-size: 0.6em;
  top: 16%;
  left: 3%;
}
}


@media(max-width: 320px){
.contact img{
	max-height: 100%;
}
}


@media(max-width: 320px){
.none3{
	display:none;	
}
.logo {
  width: 36%;
}
label.mobile_menu {
  padding: 5px 0;
}
.top-nav {
  top: 32px;
  width:48%;
}
label.mobile_menu:after{
	top:1px;
}
.caption h1{
	font-size:1.3em;
}
.caption p{
	font-size:0.8em;
}
.callbacks_nav {
  height: 28px;
  width: 25px;
  background-size: 51px;
}
.banner-bg1 {
  min-height: 275px;
}
a.morebtn {
  padding: 0.9em 2em;
  font-size: 0.6em;
}
.dwn {
  bottom: 8%;
  left: 47%;
}
.dwn img {
  width: 39%;
}
.categories h3, .bikes h3, .contact h3 {
  font-size: 1.1em;
}
.grid3{
	display:none;
}
.cate-grid {
  width: 44%;
  margin: 0px 7px;
}
.categories{
	padding:2em 0 0 0;
}
.bikes-grids {
  margin-top: 2.5em;
}
.contact h3{
	margin-bottom:0.3em;
}
.contact p {
  font-size: 0.75em;
}
.contact textarea {
  height: 100px;
}
.contact {
  min-height: 400px;
}
.wrap {
    width: 262px;
}
.ftr-menu ul li a {
  font-size: 0.7em;
  padding: 0 0.5em;
}
.logo2 img{
	background-size:100%;
	width:40%;
	margin:0 auto; 
}
a.shop img{
	width:12%;
}
.none2{
	display:none;
}
.bike {
  width: 44%;
  margin: 0 3%;
}
.bike-cost {
  padding: 10px 0em;
}
.product-img {
  margin-right: 0%;
  width: 100%;
}
.product-desc,.prod1-desc{
  width: 100%;
}
.prod1-desc{
	margin-bottom:0.5em;
	border-right:0;
}
.product_price {
  width: 100%;
  padding:0;
  text-align: center;
}
a.button1{
	margin:0 auto;
	width:50%;
}
.product{
	margin-bottom:1em;
}
p.desc {
  overflow: hidden;
  height: 80px;
  line-height: 1.5em;
  font-size: 0.8em;
}
.details-left-info a,.bike-type p{
	font-size: 11px;
}
.part-sec {
  width: 46%;
}
.part-sec img {
  height: 130px;
  padding: 4px;
}
a.qck {
  font-size: 0.8em;
}
.part-sec a h5 {
  font-size:0.85em;
}
a.add-cart {
  left: 20%;
  font-size: 0.8em;
  top: 25%;
}
.cart-item,.cart-item-info{
	width:100%;
}
.cart-item-info h4 {
  margin-right: 2em;
}
.delivery p{
  font-size: 0.7em;
  float: none;
  text-align: center;
}
.delivery span {
  margin-left: 3.2em;
  float: none;
}
.cart-total{
	padding:0;
}
a.continue {
  width: 75%;
  padding: 8px 1.5em;
  font-size: 0.85em;
  margin: 0px auto 2em auto;
}
.cart-item-info h3 {
  margin-top: 1em;
}
a.order{
  font-size: 0.85em;
  margin: 2em auto 0 auto;
  width: 68%;
    padding: 7px 1.5em;
}
.banner-sec {
  min-height: 104px;
}
.none2{
	display:none;
}
}









/*bootstrap carousel*/
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.resena div{
		margin-top: 15px;
	}
		.resena h5{
		font-size: 40px;
		font-family: 'Bai Jamjuree', sans-serif;
		font-size:25px;
	}
	.resena h5 b{
		font-size:30px;
		text-align: center;
		margin-bottom: 50px;
	}
	.resena span{
		color:gray;
		font-size:14px;
		display: block;
	}
	.resena b{
		font-size:17px;
		display: block;
		text-align: left;
	}
	.resena i{
		color:#e7680d;
	}
	.resena p{
		padding-top: 10px;
		font-size: 15px;
		/*font-weight: lighter;*/
	}
	.resena .fa-star{
		padding-top:10px;
	}
	.resena .fa-user{
		background: gray;
		color:white;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 50%;
		line-height: 55px;
		float: left;
		font-size:30px;
		margin-right: 10px;
	}