.top-nav .mobile_menu{
	background: none;
	border: none;

}
.top-nav .mobile_menu:after{
	top: 0px;
	font-size: 45px;
}

@media (max-width:768px){
	.logo{
		width: 32%;
	}
	.top-nav{
		float: right;
		top: 0 !important;
		right: 0;
		
	}
	.nav{
		top: 35px ;
		padding:15px 0 !important;
	}
	.nav li{
		border-left: 1px solid #66FF33 !important;
		background: rgba(0,0,0,1) !important;
	}
	.nav li ul.dropdown2{
		margin-top: 5px;
		margin-bottom: 5px;
		position: static !important;
		visibility: visible !important;
		opacity: 1;
	}
	.nav li ul.dropdown2 li{
		border-left: none !important;
	}
	.nav li ul.dropdown2 li a{
		color:#b8b8b8;
	}
	.nav li a{
		font-size: 1.1em !important;
		padding-right: 20px !important;
		background: none !important;
		border:none !important;
		/*text-align: right;*/
	}
	.nav li a:first-child{
		background: url(../images/menu-arrow.png) no-repeat 97% 48%;
	}


	/*slider*/
	.slider{
		height: 550px;
	}
	.caption {
		top:25%;
		padding: 0 40px;
	}
	.neon-text{
		font-size:3em;
	}
	.callbacks_container{
		height: 550px;
	}
	.banner-bg{
		min-height: 550px;
	}
	.rslides li img, .rslides li video{
		height: 550px;
	}
	.categoriesV{
		z-index: 799;
		padding: 0;
		bottom: 10px;
		padding-bottom: 5px;
		/*position: static;*/
	}
	.categoriesV .boxcategory{
		font-size: 1.15em;
		height: auto;
		padding: 5px ;
	}
	.categoriesV .boxcategory:hover p{
		text-shadow: none;
		font-size: 1em;
	}
	.categoriesV .boxcategory:hover img{
		transition: none;
		width: 40%;
	}
	.color, .headerLayout .color{
		border-radius: 17px;
		background: rgba(0,0,0,.7);
		padding: 8px ;
	}
	.categoriesV .boxcategory p{
		border-bottom:none;
	}
	.headerLayout{
		background-position: 50% !important;
	}
	.parts h2{
		font-size: 	2em;
	}
	.part-sec-cat{
		height: 300px !important;
	}
	.part-sec a{
		height: 280px;
	}
	.part-sec img{
		padding:0;
	}
	/*hot sale*/
	.mostsale h3{
		font-size: 5em;
		margin-bottom: 0;
		padding-bottom: 0;

	}
	.bikes-grids{
		margin-top: 2em;
	}
	.bike-info{
		margin-top: 0;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-left {
    	font-family:"Font Awesome 5 Free"
	}
	.nbs-flexisel-nav-left:before {
    	content: "\f359";
    	top: 24%;
    	left: 0;
	    position: absolute;
	    font-size: 35px;
    	font-family:"Font Awesome 5 Free"
	}

	.nbs-flexisel-nav-right:before {
	 	content: "\f35a";
    	top: 24%;
	    position: absolute;
	    font-size: 35px;
	    right: 0;
    	font-family:"Font Awesome 5 Free"
    }
    .nbs-flexisel-item .price .promo:before{
    	right: 18px;
    }
    .model-info img{
    	width: 20%;
	    padding: 20px 8px 0;
	    float: 	none;
    }

/*posventa*/
    #posventa .sec{
    	padding:20px 0;
    }
    #posventa .serTec{
    	background-position:0;
    }
    #posventa .serTec h2{
    	font-size:3em;
    	font-weight: lighter;
    }
    #posventa .serTec .contact{
    	float: none !important;
    	min-height: auto !important;
    }
    #posventa .serTec .icons p i{
    	float: 	none;
    }
    #posventa .serTec .icons p{
    	text-align: 	center;
    }
    #posventa .serTec .icons{
    	float: 	left;
    	padding: 15px 0;
    }
    #posventa .serTec .icons p span{
    	    font-size: .8em;
    padding: 5px 0;
    text-align: center;
    float: none;
    }
/*
		.par-sec{
			padding: 8px;
		}*/
		.part-sec .part-info .benef img{
			width: 	auto;
			width: auto;
		    height: 30px;
		    padding: 6px;
		}
		#posventa .indumentaria .indu{
			float: right;
    		padding: 10px;
		}


		.contact{
			height: auto !important;
			padding:0;
			position: relative;
		}
		.contact img{
			height: 	100%;
			    max-height: 100%;
		}
		.contact h3{
			font-size: 2em;
    padding: 10px 0;
		}
		.contact p{
			font-size: 	1.5em;
		}
		.fixedWp {
			right: 	10px;
		}
		.contact .rightCont iframe{
			padding:20px 0;
		}

		/*ficha*/
		.grid.images_3_of_2{
			width: 100% !important;
		}
		/*contacto*/
		.contacto h1{
			margin-top: 20px;
		}
		.contacto .contt{
			border-left: none;
			/*border-top: 2px dotted #66FF33;		*/
			padding-bottom: 20px;
		}

		.notice .imgprinc img, .notice .imgprinc object{
			width: 100%;
		}
		.blogCont h1{
			font-size: 29px;
			text-align: center;
		}
		.blogCont h1 b{
			font-size: 1.3em;
			padding-left: 2px;
			/*font-family: 'neon', sans-serif;*/
			font-display: sans-serif;
			text-shadow: 0 0 3px;
		}

		.redes{
			position: absolute;
		    top: 8%;
		    left: 40%;
		}
		.redes a:nth-child(1){
			padding-left: 15px;
		}
		.redes a{
			padding: 0 10px;
		}
}